<div class="container-fluid">
  <div class="page-header-content">
    <div class="heading-elements hide-xs">
      <a class="btn btn-link lnk-submenu" ui-sref="app.dashboard.customer.detail({customerId: ctrl.chart.customer.id})">
        <i class="fa fa-user" aria-hidden="true"></i>
        <p>飼い主</p>
      </a>
      <a class="btn btn-link lnk-submenu" ui-sref="app.dashboard.chart">
        <i class="fa fa-search" aria-hidden="true"></i>
        <p>検索する</p>
      </a>
		</div>
    <div class="page-title">
      <h4>カルテ - 新規登録</h4>
      <ul class="breadcrumb breadcrumb-caret small" ncy-breadcrumb></ul>
    </div>
  </div>
  <section class="panel">
    <div class="panel-body">
      <div class="alert alert-default" ng-if="!ctrl.chart.customer.id">
        初めて来院されたお客様の場合は、先に<a ui-sref="app.dashboard.customer.form">飼い主を登録</a>してください。<br/>
        既に飼い主が登録されている場合は、<a ui-sref="app.dashboard.customer.list">飼い主をさがす</a>から飼い主を特定してください。
      </div>
      <form name="form" novalidate="true">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <ptc-input type="text" form="form" name="chartNo" label="カルテ番号" model="ctrl.chart.chartNo" maxlength="50" disabled="!!ctrl.chart.id" message="50 文字以内で入力してください。"></ptc-input>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <ptc-input type="text" form="form" name="lastName" label="飼い主（姓）" model="ctrl.chart.customer.user.lastName" maxlength="50" disabled="true"></ptc-input>
          </div>
          <div class="col-sm-6 col-xs-12">
            <ptc-input type="text" form="form" name="firstName" label="飼い主（名）" model="ctrl.chart.customer.user.firstName" maxlength="50" disabled="true"></ptc-input>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <ptc-input type="text" form="form" name="name" label="ペットのお名前" model="ctrl.chart.pet.name" required="true" maxlength="50" message="50 文字以内で入力してください。"></ptc-input>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <ptc-input type="text" form="form" name="nameKana" label="ペットのお名前（フリガナ）" model="ctrl.chart.pet.nameKana" maxlength="50" message="50 文字以内のカタカナで入力してください。"></ptc-input>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-xs-12">
            <ptc-input type="date" form="form" name="birthDate" label="生年月日" model="ctrl.chart.pet.birthDate" message="日付（yyyy-MM-dd）を入力してください。"></ptc-input>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <ptc-input-select form="form" name="kind" label="種別" model="ctrl.chart.pet.kind" data="ctrl.kinds" maxlength="50" required="true"></ptc-input-select>
          </div>
          <div class="col-sm-6 col-xs-12">
            <ptc-input-select form="form" name="type" label="品種" model="ctrl.chart.pet.type" data="ctrl.types" maxlength="50" required="true"></ptc-input-select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <ptc-input-select form="form" name="color" label="毛色" model="ctrl.chart.pet.color" data="ctrl.colors" maxlength="50" required="true"></ptc-input-select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <ptc-select form="form" name="sex" label="性別" model="ctrl.chart.pet.sex" data="ctrl.sexes"></ptc-select>
          </div>
          <div class="col-sm-6 col-xs-12">
            <ptc-input-select form="form" name="blood" label="血液型" model="ctrl.chart.pet.blood" data="ctrl.bloods" maxlength="50"></ptc-input-select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-xs-12">
            <ptc-input type="text" form="form" name="microchipNo" label="マイクロチップ番号" model="ctrl.chart.pet.microchipNo" maxlength="50" message="50 文字以内で入力してください。"></ptc-input>
          </div>
          <div class="col-sm-3 col-xs-12">
            <ptc-input type="date" form="form" name="microchipDate" label="マイクロチップ埋込日" model="ctrl.chart.pet.microchipDate" message="日付（yyyy-MM-dd）を入力してください。"></ptc-input>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <ptc-input type="text" form="form" name="rabidRegisterNo" label="狂犬病登録番号" model="ctrl.chart.pet.rabidRegisterNo" maxlength="50" message="50 文字以内で入力してください。"></ptc-input>
          </div>
          <div class="col-sm-6 col-xs-12">
            <ptc-input type="text" form="form" name="injectionReportNo" label="注射済票番号" model="ctrl.chart.pet.injectionReportNo" maxlength="50" message="50 文字以内で入力してください。"></ptc-input>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-xs-12">
            <ptc-select form="form" name="neutral" label="去勢・避妊" model="ctrl.chart.pet.neutral" data="ctrl.neutrals"></ptc-select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-xs-12">
            <ptc-select form="form" name="dead" label="死亡" model="ctrl.chart.pet.dead" data="ctrl.deads"></ptc-select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <ptc-textarea form="form" name="allergia" label="アレルギーの有無や注意事項" model="ctrl.chart.pet.allergia" maxlength="2000" message="2000 文字以内で入力してください。"></ptc-textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <ptc-textarea form="form" name="drug" label="薬剤に関する注意事項" model="ctrl.chart.pet.drug" maxlength="2000" message="2000 文字以内で入力してください。"></ptc-textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <ptc-textarea form="form" name="other" label="その他、備考・注意事項" model="ctrl.chart.pet.other" maxlength="2000" message="2000 文字以内で入力してください。"></ptc-textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-right">
            <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ctrl.save(ctrl.chart)" ng-show="!ctrl.chart.id">登録する</button>
            <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ctrl.update(ctrl.chart)" ng-show="!!ctrl.chart.id">保存する</button>
            <button class="btn btn-link" ui-sref="app.dashboard.customer.detail({customerId: ctrl.chart.customer.id})">キャンセル</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
