<div class="container-fluid">
  <div class="page-header-content">
    <div class="heading-elements hide-xs">
      <a class="btn btn-link lnk-submenu" ui-sref="app.dashboard.chart.upload">
        <i class="fa fa-th" aria-hidden="true"></i>
        <p>一括登録</p>
      </a>
      <a class="btn btn-link lnk-submenu" ng-click="ctrl.refresh()">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        <p>更新する</p>
      </a>
		</div>
    <div class="page-title">
      <h4>
        カルテ
        <span class="hint--large hint--bounce hint--rounded clickable hide-xs" data-hint="カルテの作成は飼い主さまの検索から行います。既に飼い主さまがペットを登録している場合は、簡易入力機能を使ってカルテの作成をすると便利です。">
          <i class="fa fa-question-circle ml text-muted small"></i>
        </span>
      </h4>
      <ul class="breadcrumb breadcrumb-caret small" ncy-breadcrumb></ul>
    </div>
  </div>
  <section class="panel">
    <div class="panel-body">
      <form class="col-sm-6 col-md-4 mb2 pl0">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control" ng-model="ctrl.keyword" placeholder="検索キーワードを入力" />
        </div>
      </form>
      <div class="table-responsive">
        <table class="table table-striped table-hover table-clickable table-sortable table-middle">
          <thead>
            <tr>
              <th class="col-sm-2">
                <a ng-click="ctrl.sort('chartNo')">カルテ番号</a>
                <i class="fa ml" ng-show="ctrl.order=='chartNo'" ng-class="{'fa-caret-up':ctrl.reverse, 'fa-caret-down':!ctrl.reverse}"></i>
              </th>
              <th class="col-sm-4">
                <a ng-click="ctrl.sort('pet.name')">お名前 / 飼い主</a>
                <i class="fa ml" ng-show="ctrl.order=='pet.name'" ng-class="{'fa-caret-up':ctrl.reverse, 'fa-caret-down':!ctrl.reverse}"></i>
              </th>
              <th class="col-sm-1">
                <a ng-click="ctrl.sort('pet.kind')">種別</a>
                <i class="fa ml" ng-show="ctrl.order=='pet.kind'" ng-class="{'fa-caret-up':ctrl.reverse, 'fa-caret-down':!ctrl.reverse}"></i>
              </th>
              <th class="col-sm-3">
                <a ng-click="ctrl.sort('pet.type')">品種</a>
                <i class="fa ml" ng-show="ctrl.order=='pet.type'" ng-class="{'fa-caret-up':ctrl.reverse, 'fa-caret-down':!ctrl.reverse}"></i>
              </th>
              <th class="col-sm-2">
                <a ng-click="ctrl.sort('lastModifiedDate')">最終更新日時</a>
                <i class="fa ml" ng-show="ctrl.order=='lastModifiedDate'" ng-class="{'fa-caret-up':ctrl.reverse, 'fa-caret-down':!ctrl.reverse}"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="chart in ctrl.charts | filter:ctrl.keyword | orderBy:ctrl.order:ctrl.reverse | itemsPerPage:20" ui-sref="app.dashboard.chart.detail({chartId: chart.id})">
              <td>
                {{chart.chartNo}}
              </td>
              <td>
                {{chart.customer.user.lastName}} {{chart.customer.user.firstName}} 様<br/>
                {{chart.pet.name}} ちゃん
              </td>
              <td>
                {{chart.pet.kind}}
              </td>
              <td>
                {{chart.pet.type}}
              </td>
              <td>
                {{chart.lastModifiedDate | date:'yyyy/MM/dd HH:mm'}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center m0">
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
      </div>
    </div>
  </section>
</div>
