<div class="layout-max-width">
  <section>
    <md-toolbar md-theme="content" class="pt" ng-show="!ctrl.showSearchBox">
      <div class="md-toolbar-tools">
        <h2 class="md-title">
          カルテ
          <span class="hint--large hint--bounce hint--rounded clickable" data-hint="カルテの作成は飼い主さまの検索から行います。既に飼い主さまがペットを登録している場合は、簡易入力機能を使ってカルテの作成をすると便利です。">
            <md-icon class="material-icons small">help</md-icon>
          </span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.showSearchBox = true">
          <md-tooltip>検索</md-tooltip>
          <md-icon class="material-icons">search</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="ctrl.refresh()">
          <md-tooltip>更新</md-tooltip>
          <md-icon class="material-icons">refresh</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-toolbar md-theme="content" class="md-table-toolbar pt" ng-show="ctrl.showSearchBox">
      <div class="md-toolbar-tools">
        <md-icon class="material-icons">search</md-icon>
        <form flex name="form" class="ng-pristine">
          <input type="text" ng-model="ctrl.query" ng-model-options="{debounce: 500}" placeholder="キーワードを入力"/>
        </form>
        <md-button class="md-icon-button" ng-click="ctrl.showSearchBox = false; ctrl.query = '';">
          <md-tooltip>閉じる</md-tooltip>
          <md-icon class="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div layout-padding>
      <div class="flat-card">
        <md-table-container>
          <table md-table class="table-hover table-clickable">
            <thead md-head md-order="ctrl.order">
              <tr md-row>
                <th md-column md-order-by="chartNo"><span>カルテ番号</span></th>
                <th md-column md-order-by="pet.name"><span>ペットのお名前</span></th>
                <th md-column md-order-by="customer.user.lastName"><span>飼い主さま</span></th>
                <th md-column md-order-by="pet.kind"><span>種別</span></th>
                <th md-column md-order-by="pet.type"><span>品種</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="chart in ctrl.charts | filter:ctrl.query | filter:ctrl.query | orderBy:ctrl.order | limitTo:ctrl.limit:(ctrl.page-1)*ctrl.limit" ui-sref="app.dashboard.chart.detail({chartId: chart.id})">
                <td md-cell>
                  {{chart.chartNo}}
                </td>
                <td md-cell>
                  {{chart.pet.name}} ちゃん
                </td>
                <td md-cell>
                  {{chart.customer.user.lastName}} {{chart.customer.user.firstName}} 様
                </td>
                <td md-cell>
                  {{chart.pet.kind}}
                </td>
                <td md-cell>
                  {{chart.pet.type}}
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
        <md-table-pagination md-limit="ctrl.limit" md-limit-options="[20,40,60,80,100]" md-page="ctrl.page" md-total="{{ctrl.charts.length}}" md-page-select="true" md-boundary-links="true">
        </md-table-pagination>
      </div>
    </div>
  </section>
</div>

<div class="fab" md-theme="fab">
  <md-button aria-label="upload" class="md-fab md-primary" ui-sref="app.dashboard.chart.upload">
    <md-tooltip md-direction="left">一括登録（移行）</md-tooltip>
    <md-icon class="material-icons">backup</md-icon>
  </md-button>
</div>
