<md-table-container>
  <md-toolbar class="md-table-toolbar md-default" ng-show="!ctrl.selected.length">
    <div class="md-toolbar-tools">
      <span>飼い主さま</span>
    </div>
  </md-toolbar>
  <md-toolbar class="md-table-toolbar alternate" ng-show="ctrl.selected.length">
    <div class="md-toolbar-tools">
      <span>{{ctrl.selected.length}} {{ctrl.selected.length > 1 ? 'items' : 'item'}} selected</span>
      <span flex></span>
      <md-button class="md-icon-button">
        <md-icon>delete</md-icon>
      </md-button>
      <md-button class="md-icon-button">
        <md-icon>more_vert</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <table md-table md-row-select ng-model="ctrl.selected" md-progress="promise">
    <thead md-head md-order="query.order" md-on-reorder="onReorder">
      <tr md-row>
        <th md-column md-order-by="nameToLower"><span>飼い主のお名前</span></th>
        <th md-column md-order-by="calories.value"><span>住所・連絡先</span></th>
        <th md-column>ログインID</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="customer" md-select-id="{{customer.id}}" md-auto-select ng-repeat="customer in ctrl.customers">
        <td md-cell>
          {{customer.lastName}} {{customer.firstName}} 様
        </td>
        <td md-cell>
          {{customer.zipCode}}<br/>
          {{customer.address}}
        </td>
        <td md-cell>
          {{customer.user.login}}
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>
