<div class="container container-sm">
  <section class="panel panel-danger bw2" style="margin-top:50px;">
    <div class="panel-heading bw2">
      <h1 class="panel-title">パスワードを再設定</h1>
    </div>
    <div class="panel-body p3">
      <div class="alert alert-success">
        <p>登録されているメールアドレスにメールを送信しました。メールに記載されているキーを入力して、新しいパスワードを設定してください。</p>
      </div>
      <form name="form" novalidate="true" ng-submit="ctrl.save(ctrl.reset)">
        <div class="row">
          <div class="col-xs-12 mt2">
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon" id="password"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                <input type="password" name="password" ng-model="ctrl.reset.newPassword" maxlength="100" ng-required="true" ng-maxlength="100" placeholder="新しいパスワードを入力" class="form-control input-lg"/>
              </div>
              <div class="form-error" ng-show="form.password.$invalid && form.password.$dirty" ng-messages="form.password.$error">
                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                  <span>100 文字以内でパスワードを入力してください。</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon" id="confirm"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                <input type="password" name="confirm" ng-model="ctrl.confirm" maxlength="100" ng-required="true" ng-maxlength="100" placeholder="確認のため、もう一度新しいパスワードを入力" class="form-control input-lg" ui-validate="{same:'$value === ctrl.reset.newPassword'}"/>
              </div>
              <div class="form-error" ng-show="form.confirm.$invalid && form.confirm.$dirty" ng-messages="form.confirm.$error">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'min', 'max' 'pattern', 'same']">
                  <span>パスワードが入力した値と異なっています。</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon" id="resetKey"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></span>
                <input type="text" name="resetKey" ng-model="ctrl.reset.resetKey" maxlength="100" ng-required="true" ng-maxlength="100" placeholder="メールに記載のリセットキーを入力" class="form-control input-lg"/>
              </div>
              <div class="form-error" ng-show="form.resetKey.$invalid && form.resetKey.$dirty" ng-messages="form.resetKey.$error">
                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                  <span>メールに記載されているリセットキーを入力してください。</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center mt2">
            <button class="btn btn-default btn-lg" type="submit" ng-disabled="form.$invalid">
              <i class="fa fa-pencil-square-o m0"></i>
              パスワードを変更
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
