<div layout="row" layout-align="center start">
  <div layout-padding class="container-small flat-card mt3 mb3">
    <h3>パスワードを再設定する</h3>
    <div>
      <form name="form" novalidate="">
        <div layout-gt-xs="row" layout-wrap>
          <md-input-container class="md-icon-float md-block" flex="100">
            <label>新しいパスワード</label>
            <md-icon class="material-icons" aria-label="Login">vpn_key</md-icon>
            <input name="newPassword" type="password" ng-model="ctrl.reset.newPassword" ng-required="true" ng-minlength="5" ng-maxlength="100">
            <div ng-show="form.newPassword.$invalid" ng-messages="form.newPassword.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                <span>5 文字以上 100 文字以内の半角英数字記号で新しいパスワードを入力してください。</span>
              </div>
            </div>
            <password-strength-bar password-to-check="ctrl.reset.newPassword"></password-strength-bar>
          </md-input-container>
          <md-input-container class="md-icon-float md-block" flex="100">
            <label>パスワード（確認のためもう一度入力してください）</label>
            <md-icon class="material-icons" aria-label="Login">vpn_key</md-icon>
            <input id="confirm" name="confirm" type="password" ng-model="ctrl.confirm" ng-required="true" ui-validate="{same : '$value === ctrl.reset.newPassword'}">
            <div ng-show="form.confirm.$invalid" ng-messages="form.confirm.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern', 'same']">
                <span>新しいパスワードに入力した値と異なっています。</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-icon-float md-block" flex="100">
            <label>パスワードリセットキー</label>
            <md-icon class="material-icons" aria-label="Login">vpn_key</md-icon>
            <input name="resetKey" type="text" ng-model="ctrl.reset.resetKey" ng-required="true" ng-maxlength="100">
            <div ng-show="form.resetKey.$invalid" ng-messages="form.resetKey.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                <span>お送りしたメールに記載されているキーを入力してください。</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-xs="row" layout-align="end center">
          <md-button class="md-primary md-raised" ng-disabled="form.$invalid" ng-click="ctrl.save(ctrl.reset)">リセットする</md-button>
        </div>
      </form>
    </div>
  </div>
</div>
