<div class="container-fluid">
  <div class="page-header-content">
    <div class="heading-elements hide-xs">
      <a class="btn btn-link lnk-submenu" ui-sref="app.dashboard.chart.detail({chartId: ctrl.ticket.chart.id})">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        <p>カルテ</p>
      </a>
      <a class="btn btn-link lnk-submenu" ui-sref="app.dashboard.customer.detail({customerId: ctrl.ticket.chart.customer.id})">
        <i class="fa fa-user" aria-hidden="true"></i>
        <p>飼い主</p>
      </a>
      <a class="btn btn-link lnk-submenu" ui-sref="app.dashboard.ticket.detail.account">
        <i class="fa fa-calculator" aria-hidden="true"></i>
        <p>会計する</p>
      </a>
      <a class="btn btn-link lnk-submenu" ui-sref="app.dashboard.ticket.update({ticketId: ctrl.ticket.id})" ng-disabled="!ctrl.editable">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <p>編集する</p>
      </a>
      <a class="btn btn-link lnk-submenu" ng-click="ctrl.delete($event, ctrl.ticket)" ng-disabled="!ctrl.editable">
        <i class="fa fa-trash" aria-hidden="true"></i>
        <p>削除する</p>
      </a>
		</div>
    <div class="page-title">
      <h4>チケット - {{ctrl.ticket.chart.pet.name}} ちゃんのチケット</h4>
      <ul class="breadcrumb breadcrumb-caret small" ncy-breadcrumb></ul>
    </div>
  </div>
  <section class="panel">
    <div class="panel-body">
      <div class="alert alert-success" ng-if="ctrl.ticket.state === 'COMPLETED'">
        料金の支払が完了しているため、このチケットに関する情報は変更できません。
      </div>
      <div class="row">
        <div class="col-sm-2">
          <i class="fa fa-nav fa-hospital-o"></i>動物病院:
        </div>
        <div class="col-sm-4">
          <p>{{ctrl.clinic.name}}</p>
        </div>
        <div class="col-sm-2">
          <i class="fa fa-nav fa-clock-o"></i>診察日:
        </div>
        <div class="col-sm-4">
          <p>{{ctrl.ticket.startDateTime | date:'yyyy/MM/dd HH:mm'}} - {{ctrl.ticket.endDateTime | date:'HH:mm'}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <i class="fa fa-nav fa-user"></i>飼い主:
        </div>
        <div class="col-sm-4">
          <p>{{ctrl.ticket.chart.customer.user.lastName}} {{ctrl.ticket.chart.customer.user.firstName}} 様</p>
        </div>
        <div class="col-sm-2">
          <i class="fa fa-nav fa-circle-o"></i>ステータス:
        </div>
        <div class="col-sm-4">
          <p>
            <span ng-if="ctrl.ticket.state === 'RESERVED'" class="label label-info">予約済み</span>
            <span ng-if="ctrl.ticket.state === 'RECEIPTED'" class="label label-info-outline">受付済み</span>
            <span ng-if="ctrl.ticket.state === 'DOING'" class="label label-success">診察中</span>
            <span ng-if="ctrl.ticket.state === 'PAYMENT'" class="label label-warning">会計待ち</span>
            <span ng-if="ctrl.ticket.state === 'COMPLETED'" class="label label-default">診察終了</span>
            <span ng-if="ctrl.ticket.state === 'CANCEL'" class="label label-default">キャンセル</span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <i class="fa fa-nav fa-heart-o"></i>お名前:
        </div>
        <div class="col-sm-4">
          <p>{{ctrl.ticket.chart.pet.name}} ちゃん（{{ctrl.ticket.chart.pet.type}}）</p>
        </div>
        <div class="col-sm-2">
          <i class="fa fa-nav fa-jpy"></i>診察料金:
        </div>
        <div class="col-sm-4">
          <h4 class="m0"><code>{{ctrl.total | currency:'¥ ':0}}</code></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <uib-tabset active="active">
            <uib-tab index="0">
              <uib-tab-heading>
                <i class="fa m0 fa-comment-o hide-xs" aria-hidden="true"></i>
                稟告
              </uib-tab-heading>
              <div class="pt2">
                <form name="autognosis-form">
                  <div class="row">
                    <div class="col-xs-12">
                      <ptc-textarea form="autognosis-form" name="autognosis" label="主訴・稟告内容" model="ctrl.ticket.autognosis" maxlength="2000" message="2000 文字以内で入力してください。"></ptc-input>
                    </div>
                  </div>
                  <div class="row" ng-if="ctrl.editable">
                    <div class="col-xs-12 text-right">
                      <button class="btn btn-primary" ng-disabled="autognosis-form.$invalid" ng-click="ctrl.save(ctrl.ticket)">保存する</button>
                    </div>
                  </div>
                </form>
              </div>
            </uib-tab>
            <uib-tab index="1">
              <uib-tab-heading>
                <i class="fa m0 fa-file-text-o hide-xs" aria-hidden="true"></i>
                診断
              </uib-tab-heading>
              <div class="pt2">
                <form name="diagnosis-form" class="">
                  <div class="row">
                    <div class="col-sm-6 col-xs-12">
                      <ptc-diagnosis form="diagnosis-form" name="diagnosis" model="ctrl.ticket.diagnosis" data="ctrl.diagnosises"/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <ptc-textarea form="diagnosis-form" name="memo" label="所見" model="ctrl.ticket.memo" maxlength="10000" message="10000 文字以内で入力してください。"></ptc-input>
                    </div>
                  </div>
                  <div class="row" ng-if="ctrl.editable">
                    <div class="col-xs-12 text-right">
                      <button class="btn btn-primary" ng-disabled="diagnosis-form.$invalid" ng-click="ctrl.save(ctrl.ticket)">保存する</button>
                    </div>
                  </div>
                </form>
              </div>
            </uib-tab>
            <uib-tab index="2" ng-click="ctrl.loadTicketInspections()">
              <uib-tab-heading>
                <i class="fa m0 fa-jpy hide-xs" aria-hidden="true"></i>
                検査料
              </uib-tab-heading>
              <div class="pt2">
                <div class="table-responsive">
                  <table class="table table-striped table-middle">
                    <thead>
                      <tr>
                        <th class="col-sm-4">
                          検査内容
                        </th>
                        <th class="col-sm-1">
                          数量
                        </th>
                        <th class="col-sm-2">
                          単価
                        </th>
                        <th class="col-sm-2">
                          金額
                        </th>
                        <th class="col-sm-2">
                          小計（消費税）
                        </th>
                        <th class="col-sm-1">
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr uib-popover="{{ti.memo}}" popover-title="説明" ng-repeat="ti in ctrl.ticketInspections">
                        <td>
                          {{ti.name}}
                        </td>
                        <td>
                          {{ti.quantity}}
                        </td>
                        <td>
                          {{ti.price | currency:'¥ ':0}}
                        </td>
                        <td>
                          {{ti.amount | currency:'¥ ':0}}
                        </td>
                        <td>
                          {{ti.subtotal | currency:'¥ ':0}}
                          ({{ti.tax | currency:'¥ ':0}})
                        </td>
                        <td>
                          <button class="btn btn-danger-outline btn-sm" ng-click="ctrl.removeTicketInspection(ti, $index)" ng-disabled="!ctrl.editable">削除</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div ng-if="ctrl.editable">
                  <div class="text-right">
                    <button class="btn btn-default" ng-show="!showInspectionForm" ng-click="showInspectionForm = true">検査料を追加</button>
                    <button class="btn btn-link" ng-show="!!showInspectionForm" ng-click="showInspectionForm = false">フォームを隠す</button>
                  </div>
                  <div ng-show="!!showInspectionForm">
                    <form name="inspectionForm">
                      <div class="row">
                        <div class="col-sm-6 col-xs-12">
                          <ptc-inspections form="inspectionForm" name="inspection" model="ctrl.inspection.clinicInspection" data="ctrl.inspections" required="true"/>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 col-xs-12">
                          <ptc-input type="price" form="inspectionForm" name="price" label="価格" model="ctrl.inspection.clinicInspection.price" min="0" max="999999999" required="true"></ptc-input>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 col-xs-12">
                          <ptc-input type="number" form="inspectionForm" name="quantity" label="数量" model="ctrl.inspection.quantity" min="0" max="999999999" required="true"></ptc-input>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                          <div class="form-group">
                            <label>
                              <span>合計金額</span>
                            </label>
                            <h4>
                              <code ng-if="!!ctrl.inspection.clinicInspection">{{ctrl.inspection.clinicInspection.price * ctrl.inspection.quantity | currency:'¥ ':0}}</code>
                              <code ng-if="!ctrl.inspection.clinicInspection">¥ 0</code>
                            </h4>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <ptc-textarea form="inspectionForm" name="memo" label="説明" model="ctrl.inspection.memo" maxlength="2000" message="2000 文字以内で入力してください。"></ptc-input>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 text-right">
                          <button class="btn btn-primary" ng-disabled="inspectionForm.$invalid" ng-click="ctrl.saveTicketInspection(ctrl.inspection)">追加する</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </uib-tab>
            <uib-tab index="3">
              <uib-tab-heading>
                <i class="fa m0 fa-medkit hide-xs" aria-hidden="true"></i>
                処方
              </uib-tab-heading>
              <div class="pt2">
                <div class="alert alert-success">
                  動物病院での医薬品の処方機能を鋭意開発中！会計機能と連動するので、請求処理や売上の一括管理が可能になります。<br />近日公開予定です。
                </div>
                <!-- <form name="prescription-form" class="">
                  <div class="row">
                    <div class="col-sm-6 col-xs-12">
                      <ptc-medicines form="prescription-form" name="medicine" model="ctrl.prescription.medicine" data="ctrl.medicines"/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 col-xs-12">
                      <ptc-input-select form="prescription-form" name="usage" label="用法" model="ctrl.prescription.usage" data="ctrl.usages" maxlength="50"></ptc-input-select>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <ptc-input type="number" form="prescription-form" name="dosage" label="用量" model="ctrl.prescription.dosage" min="0" max="999999999"></ptc-input>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <ptc-input-select form="prescription-form" name="unit" label="単位" model="ctrl.prescription.unit" data="ctrl.units" maxlength="50"></ptc-input-select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <ptc-textarea form="prescription-form" name="comment" label="説明" model="ctrl.prescription.comment" maxlength="2000" message="2000 文字以内で入力してください。"></ptc-input>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 text-right">
                      <button class="btn btn-primary" ng-disabled="prescription-form.$invalid" ng-click="ctrl.savePrescription(ctrl.prescription)">追加する</button>
                    </div>
                  </div>
                </form> -->
              </div>
            </uib-tab>
            <uib-tab index="4">
              <uib-tab-heading>
                <i class="fa m0 fa-certificate hide-xs" aria-hidden="true"></i>
                証明書
              </uib-tab-heading>
              <div class="pt2">
                <div class="alert alert-success">
                  証明書の発行機能を鋭意開発中！証明書をプリントします。<br />近日公開予定です。
                </div>
              </div>
            </uib-tab>
            <uib-tab index="5">
              <uib-tab-heading>
                <i class="fa m0 fa-paperclip hide-xs" aria-hidden="true"></i>
                添付
              </uib-tab-heading>
              <div class="pt2">
                <div class="ptc-dragdrop" ngf-drop ngf-select ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="false" accept="*" ng-model="file">
                  <p><i class="fa fa-paperclip fa-3x"></i></p>
                  <p class="lead">ファイルを添付する（2MBまで）</p>
                  <p class="m0">ここにアップロードするファイルをドラッグ＆ドロップしてください。または、このエリアをクリックしてファイルを選択してください。</p>
                  <p class="m0">アップロードしたファイルは安全に管理され、このページからのみアクセスできます。</p>
                </hr/>
                </div>
              </div>
            </uib-tab>
            <uib-tab index="6">
              <uib-tab-heading>
                <i class="fa m0 fa-comments-o hide-xs" aria-hidden="true"></i>
                コメント
              </uib-tab-heading>
              <div class="pt2">
                <div class="alert alert-success">
                  チケットに自由記述でコメントを積み上げられる機能を鋭意開発中！これにより獣医師とスタッフとの情報連携をスムーズにします。<br />近日公開予定です。
                </div>
                <!-- <form name="comment-form" class="">
                  <div class="row">
                    <div class="col-xs-12">
                      <ptc-textarea form="comment-form" name="comment" label="コメント" model="ctrl.comment.comment" maxlength="2000" message="2000 文字以内で入力してください。"></ptc-input>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 text-right">
                      <button class="btn btn-primary" ng-disabled="comment-form.$invalid" ng-click="ctrl.saveComment(ctrl.comment)">追加する</button>
                    </div>
                  </div>
                </form> -->
              </div>
            </uib-tab>
          </uib-tabset>
        </div>
      </div>
    </div>
  </section>
</div>
