<div class="layout-max-width">
  <md-toolbar md-theme="content" class="pt">
    <div class="md-toolbar-tools">
      <h1 class="md-title">予防接種ワクチン登録フォーム</h1>
    </div>
  </md-toolbar>
  <div layout-padding>
    <div class="flat-card">
      <form name="form" role="form" novalidate>
        <div layout="row" layout-wrap>
          <md-input-container class="md-block" flex="50" flex-xs="100">
            <label>ワクチン名</label>
            <input name="name" ng-model="ctrl.vaccine.name" maxlength="50" ng-required="true" ng-maxlength="50"></input>
            <div ng-show="form.name.$invalid" ng-messages="form.name.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                <span>50 文字以内で入力してください。</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex="100">
            <label>説明</label>
            <textarea name="memo" ng-model="ctrl.vaccine.memo" maxlength="2000" md-maxlength="2000" rows="5"></textarea>
            <div ng-show="form.memo.$invalid" ng-messages="form.memo.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                <span>2000 文字以内で入力してください。</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" layout-align="end center" ng-if="!ctrl.vaccine.id">
          <md-button class="md-primary md-raised" ng-disabled="form.$invalid" ng-click="ctrl.save(ctrl.vaccine)">登録する</md-button>
          <md-button ui-sref="app.dashboard.vaccine.list">キャンセル</md-button>
        </div>
        <div layout="row" layout-align="end center" ng-if="ctrl.vaccine.id">
          <md-button class="md-primary md-raised" ng-disabled="form.$invalid" ng-click="ctrl.update(ctrl.vaccine)">更新する</md-button>
          <md-button ui-sref="app.dashboard.vaccine.detail({vaccineId: ctrl.vaccine.id})">キャンセル</md-button>
        </div>
      </form>
    </div>
  </div>
</div>
