<div class="container container-sm">
  <section class="panel" style="margin-top:50px;">
    <div class="panel-body">
      <h3>サインインしましょう</h3>
      <p class="text-right mt3 mb3">
        <a ui-sref="app.signup">会員登録はお済みですか？<br/>会員登録は無料です。登録はたったの３０秒！</a>
      </p>
      <form name="form" novalidate="true" ng-submit="ctrl.login(ctrl.login)">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <input type="email" name="login" ng-model="ctrl.login.email" maxlength="100" ng-required="true" ng-maxlength="100" placeholder="ログインIDを入力してください" class="form-control input-lg"/>
              <div class="form-error" ng-show="form.login.$invalid && form.login.$dirty" ng-messages="form.login.$error">
                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                  <span>100 文字以内で有効なメールアドレスを入力してください。</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <input type="password" name="password" ng-model="ctrl.login.password" maxlength="100" ng-required="true" ng-maxlength="100" placeholder="パスワードを入力してください" class="form-control input-lg"/>
              <div class="form-error" ng-show="form.password.$invalid && form.password.$dirty" ng-messages="form.password.$error">
                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                  <span>100 文字以内でパスワードを入力してください。</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-right">
            <button type="submit" class="btn btn-primary btn-lg" ng-disabled="form.$invalid">サインイン</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-right mt3">
            <a ui-sref="app.reset" class="text-muted">もしかして、パスワードをお忘れですか？</a>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
