<div layout="row" layout-align="center start">
  <div layout-padding class="container-small flat-card mt3 mb3">
    <h3>ペティカル（petical.io）にサインイン</h3>
    <div>
      <p class="text-right">
        <a ui-sref="app.signup">無料の会員登録はこちら！登録は３０秒！</a>
      </p>
      <form name="form" novalidate="">
        <div layout-gt-xs="row">
          <md-input-container class="md-icon-float md-block" flex>
            <label>ログイン ID</label>
            <md-icon class="material-icons" aria-label="Login">person</md-icon>
            <input name="login" type="email" ng-model="ctrl.login.email" ng-required="true" ng-maxlength="100">
            <div ng-show="form.login.$invalid" ng-messages="form.login.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                <span>100 文字以内で有効なメールアドレスを入力してください。</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-xs="row">
          <md-input-container class="md-icon-float md-block" flex>
            <label>パスワード</label>
            <md-icon class="material-icons" aria-label="Password">lock</md-icon>
            <input name="password" type="password" class="inspectletIgnore" ng-model="ctrl.login.password" ng-required="true" ng-maxlength="100">
            <div ng-show="form.password.$invalid" ng-messages="form.password.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                <span>100 文字以内でパスワードを入力してください。</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-xs="row" layout-align="end center">
          <a ui-sref="app.reset" class="text-muted">もしかして、パスワードをお忘れですか？</a>
          <md-button class="md-primary md-raised" ng-disabled="form.$invalid" ng-click="ctrl.login(ctrl.login)">サインイン</md-button>
        </div>
      </form>
    </div>
  </div>
</div>
