<div class="container container-sm">
  <section class="panel panel-default bw2" style="margin-top:50px;">
    <div class="panel-heading bw2">
      <h1 class="panel-title">ペティカルにサインアップ</h1>
    </div>
    <div class="panel-body p3">
      <div class="alert alert-default">
        <p>メールアドレスの確認を行います。<br/>使用するメールアドレスを入力して、メールを送信してください。</p>
      </div>
      <form name="form" novalidate="true" ng-submit="ctrl.signup(ctrl.user)">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon" id="login"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
                <input type="email" name="email" ng-model="ctrl.user.email" maxlength="100" ng-required="true" ng-maxlength="100" placeholder="メールアドレスを入力してください" class="form-control input-lg"/>
              </div>
              <div class="form-error" ng-show="form.login.$invalid && form.login.$dirty" ng-messages="form.login.$error">
                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                  <span>100 文字以内で有効なメールアドレスを入力してください。</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="ctrl.accept" ng-required="true">
                  私は <a href="https://petical.io/docs/terms.html" target="_blank">利用規約</a> 及び <a href="https://petical.io/docs/privacy.html" target="_blank">プライバシーポリシー</a> に同意します。
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center mt2">
            <button class="btn btn-default btn-lg" type="submit" ng-disabled="form.$invalid">
              <i class="fa fa-pencil-square-o m0"></i>
              メールを送信
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-right mt2">
            <a ui-sref="app.signin" class="text-muted">アカウントをお持ちの方は、サインインしてください。</a>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
