@import '../assets/sass/bootstrap.variables';
$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'app.overwrite';
@import 'app.utils';
// endinjector

// body
body {
  font-family: 'Roboto', 'Noto Sans Japanese', sans-serif;
  font-weight: 400;
}

// background
.bg-color {
  background-color: #f5f5f5 !important;
}

// sidenav menu
.side-menu {
  padding: 8px 0;
}
.side-menu li {
  margin: 0px;
}
md-sidenav {
  max-width: 250px;
}
md-sidenav md-content ul {
  margin: 0;
  padding: 0;
}
md-sidenav md-content ul li {
  margin: 0;
  padding: 0;
}
md-sidenav md-content ul li md-icon {
  width: 46px;
}
.side-menu .md-button {
  border-radius: 0px;
  padding: 6px 16px;
  margin: 0;
  max-height: 48px;
  min-height: 48px;
  display: block;
  width: 100%;
  text-align: left;
}
.side-menu menu-link a.active, .side-menu menu-link a.active md-icon {
  color: #00BCD4;
}
