// common utility style
$base-size: 8px;

// color
.white {
  color: #fff !important;
}

// padding and margin
.p0 {
  padding: 0 !important;
}
.pt0 {
  padding-top: 0 !important;
}
.pb0 {
  padding-bottom: 0 !important;
}
.pl0 {
  padding-left: 0 !important;
}
.pr0 {
  padding-right: 0 !important;
}

.p {
  padding: $base-size;
}
.pt {
  padding-top: $base-size;
}
.pl {
  padding-left: $base-size;
}
.pr {
  padding-right: $base-size;
}
.pb {
  padding-bottom: $base-size;
}

.p2 {
  padding: $base-size * 2;
}
.pt2 {
  padding-top: $base-size * 2;
}
.pl2 {
  padding-left: $base-size * 2;
}
.pr2 {
  padding-right: $base-size * 2;
}
.pb2 {
  padding-bottom: $base-size * 2;
}

.p3 {
  padding: $base-size * 3;
}
.pt3 {
  padding-top: $base-size * 3;
}
.pl3 {
  padding-left: $base-size * 3;
}
.pr3 {
  padding-right: $base-size * 3;
}
.pb3 {
  padding-bottom: $base-size * 3;
}

.m0 {
  margin: 0 !important;
}
.mt0 {
  margin-top: 0 !important;
}
.ml0 {
  margin-left: 0 !important;
}
.mr0 {
  margin-right: 0 !important;
}
.mb0 {
  margin-bottom: 0 !important;
}

.m {
  margin: $base-size;
}
.mt {
  margin-top: $base-size;
}
.ml {
  margin-left: $base-size;
}
.mr {
  margin-right: $base-size;
}
.mb {
  margin-bottom: $base-size;
}
.m2 {
  margin: $base-size * 2;
}
.mt2 {
  margin-top: $base-size * 2;
}
.ml2 {
  margin-left: $base-size * 2;
}
.mr2 {
  margin-right: $base-size * 2;
}
.mb2 {
  margin-bottom: $base-size * 2;
}
.m3 {
  margin: $base-size * 3;
}
.mt3 {
  margin-top: $base-size * 3;
}
.ml3 {
  margin-left: $base-size * 3;
}
.mr3 {
  margin-right: $base-size * 3;
}
.mb3 {
  margin-bottom: $base-size * 3;
}


// border
.b {
  border: 1px solid #ddd;
}
.bt {
  border-top: 1px solid #ddd;
}
.bb {
  border-bottom: 1px solid #ddd;
}
.br {
  border-right: 1px solid #ddd;
}
.bl {
  border-left: 1px solid #ddd;
}
.b0 {
  border-width: 0 !important;
}
.bt0 {
  border-top-width: 0 !important;
}
.br0 {
  border-right-width: 0 !important;
}
.bl0 {
  border-left-width: 0 !important;
}
.bb0 {
  border-bottom-width: 0 !important;
}

@media print {
  .b {
    border-color: #000;
  }
  .bt {
    border-color: #000;
  }
  .bb {
    border-color: #000;
  }
  .br {
    border-color: #000;
  }
  .bl {
    border-color: #000;
  }
}

// table (extend bootstrap table)
table.table-clickable > tbody > tr {
  cursor: pointer;
}
.clickable {
  cursor: pointer;
}

// layout
.layout-max-width {
  width: 100%;
  max-width: 1200px;
}
.overflow {
  overflow: auto;
}

// text
.text-left {
  text-align: left !important;
}
.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* status */
.position-left {
  margin-right: 7px;
}
.status-mark {
  border-radius: 50%;
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 3px solid;
}

/* border color */
.border-primary {
  border-color: $brand-primary !important;
}
.border-success {
  border-color: $brand-success !important;
}
.border-info {
  border-color: $brand-info !important;
}
.border-warning {
  border-color: $brand-warning !important;
}
.border-danger {
  border-color: $brand-danger !important;
}
.border-default {
  border-color: #ccc !important;
}

/* border width */
.bw2 {
  border-width: 2px;
}
.bw3 {
  border-width: 3px;
}
