.panel-paper {
  @extend .panel;
  width: 202mm;
  // height: 297mm;
  margin: 0 auto 24px auto;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  .panel-body {
    padding: 24px;
  }
}

@media print {
  body {
    width: 210mm;
  }

  .table-bordered tr td, .table-bordered tr th {
    border-color: #000 !important;
  }

  .panel-paper {
    display: block;
    page-break-after: always;
    border: 0;
    .print-title {
      margin-top: 0 !important;
    }
  }
  .print-page:last-child {
    page-break-after: auto;
  }

  pre code {
    page-break-after: always;
  }

  @page {
    margin: 0;
    size: A4;
  }

  p a, code, pre {
    word-wrap: break-word;
  }

  img {
    display: none;
  }

  pre a[href]:after {
    content: "";
  }

  pre abbr[title]:after {
    content: "";
  }

  pre .ir a:after, pre a[href^="javascript:"]:after, pre a[href^="#"]:after {
    content: "";
  }

  .sidebar,
  .topnavbar,
  .offsidebar,
  .no-print,
  .btn {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }

  .wrapper,
  .wrapper > section,
  .content-wrapper {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }

  .content-wrapper {
    overflow: hidden !important;
  }
}
