// overwrite angular material styles

$base-height: 56px;
$base-size:   8px;

// toolbar
md-toolbar {
  min-height: $base-height;
}
.md-toolbar-tools {
  height: $base-height;
}
.md-toolbar-tools .md-button {
  margin: 0;
}
// toolbar custom extension
.md-toolbar-tools.toolbar-nav {
}
.md-toolbar-tools.toolbar-nav .md-title {
  font-weight: 500;
  margin-left: $base-size;
}


// form
form {
  width: 100%;
  display: inline;
}
form .hint {
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey;
}
label {
  font-weight: inherit;
  font-size: 16px;
  margin: 0;
}
input, textarea {
  font-size: 16px;
}

// checkbox
md-checkbox {
  font-size: 14px;
}
md-checkbox .description {
  font-size: 12px;
  line-height: 14px;
  color: grey;
}

// button
a.md-button:hover {
  color: inherit;
}
.md-button.md-console-theme.md-primary.md-raised {
  color: white;
}
a {
  cursor: pointer;
}
.link {
  cursor: pointer;
}

// loading bar
#loading-bar .bar {
  background-color: #B2EBF2;
}
