<nav class="navbar navbar-inverse navbar-static-top mb0" id="main-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sub-navbar" aria-expanded="false" aria-controls="sub-navbar" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand navbar-brand-center">
        <a href="/"><img alt="Brand" src="/assets/images/logo@2x.png"/></a>
      </span>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown" uib-dropdown ng-if="ctrl.isSignin()">
          <a href="" class="dropdown-toggle navbar-swich" uib-dropdown-toggle>
            <i class="fa fa-bars" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu navbar-swith-dropdown-menu" uib-dropdown-menu>
            <li><a ui-sref="app.main" ui-sref-active-eq="active"><i class="fa fa-home fa-nav" aria-hidden="true"></i>ホーム</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">利用可能動物病院</li>
            <li ng-repeat="clinic in clinics">
              <a ui-sref="app.dashboard({clinicId: clinic.id})" ui-sref-active="active">{{clinic.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="ctrl.isSignin()">
          <a ui-sref-active="active" ui-sref="app.main.invitation">
            <i class="fa fa-inbox fa-main" aria-hidden="true"></i>
          </a>
        </li>
        <li class="dropdown" uib-dropdown ng-if="ctrl.isSignin()">
          <a href="" class="dropdown-toggle lnk-gravatar" uib-dropdown-toggle>
            <img gravatar-src-once="ctrl.account.login" gravatar-size="100" class="img-circle mr" style="width:32px;" ng-click="ctrl.openMenu($mdOpenMenu, $event)"/>
            <strong>{{ctrl.account.username}}</strong>
            <i class="fa fa-angle-down ml" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li>
              <a ui-sref="app.main.account.form" ui-sref-active="active">
                <i class="fa fa-user fa-nav" aria-hidden="true"></i>マイアカウント
              </a>
            </li>
            <li>
              <a ui-sref="app.main.account.password" ui-sref-active="active">
                <i class="fa fa-key fa-nav" aria-hidden="true"></i>パスワード変更
              </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a ng-click="ctrl.signout()">
                <i class="fa fa-sign-out fa-nav" aria-hidden="true"></i>サインアウト
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-default navbar-static-top mb0" id="sub-navbar" ng-if="ctrl.isSignin() && ctrl.isClinicPage()">
  <div class="container-fluid">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a ui-sref="app.dashboard" ui-sref-active-eq="active"><i class="fa fa-dashboard mr hide-sm" aria-hidden="true"></i>ダッシュボード</a>
        </li>
        <li>
          <a ui-sref="app.dashboard.customer" ui-sref-active="active"><i class="fa fa-user mr hide-sm" aria-hidden="true"></i>飼い主<i class="fa fa-angle-down ml" aria-hidden="true"></i></a>
        </li>
        <li>
          <a ui-sref="app.dashboard.chart" ui-sref-active="active"><i class="fa fa-folder-open-o mr hide-sm" aria-hidden="true"></i>カルテ<i class="fa fa-angle-down ml" aria-hidden="true"></i></a>
        </li>
        <li>
          <a ui-sref="app.dashboard.ticket" ui-sref-active="active"><i class="fa fa-ticket mr hide-sm" aria-hidden="true"></i>チケット</a>
        </li>
        <!-- <li>
          <a ui-sref="app.dashboard.calendar" ui-sref-active="active"><i class="fa fa-calendar mr hide-sm" aria-hidden="true"></i>カレンダー</a>
        </li> -->
        <!-- <li>
          <a ui-sref="app.dashboard.mail" ui-sref-active="active"><i class="fa fa-envelope-o mr hide-sm" aria-hidden="true"></i>メール<i class="fa fa-angle-down ml" aria-hidden="true"></i></a>
        </li> -->
        <li class="dropdown" uib-dropdown>
          <a href="" uib-dropdown-toggle><i class="fa fa-database hide-sm mr" aria-hidden="true"></i>管理<i class="fa fa-angle-down ml" aria-hidden="true"></i></a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li><a ui-sref="app.dashboard.staff" ui-sref-active="active"><i class="fa fa-user-md fa-nav" aria-hidden="true"></i>スタッフ管理</a></li>
            <li><a ui-sref="app.dashboard.inspection" ui-sref-active="active"><i class="fa fa-usd fa-nav" aria-hidden="true"></i>診察料金管理</a></li>
            <li><a ui-sref="app.dashboard.vaccine.list" ui-sref-active="active"><i class="fa fa-medkit fa-nav" aria-hidden="true"></i>予防接種ワクチン管理</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right hide-sm">
        <li>
          <div style="padding: 12px 20px;">
            <span class="label label-success">ベータ版利用中</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ptz-state-loading-indicator></ptz-state-loading-indicator>
<div id="main-content" class="bg-color fadein" ui-view="">
</div>
