<div class="layout-max-width">
  <section>
    <md-toolbar md-theme="content" class="pt">
      <div class="md-toolbar-tools">
        <h2 class="md-title">チケット</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.refresh()">
          <md-tooltip md-direction="left">更新</md-tooltip>
          <md-icon class="material-icons">refresh</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div layout-padding>
      <md-table-container class="flat-card">
        <table md-table class="table-hover table-clickable">
          <thead md-head>
            <tr md-row>
              <th md-column>診察予定日時</th>
              <th md-column>ステータス</th>
              <th md-column>お名前</th>
              <th md-column>飼い主</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="ticket in ctrl.tickets" ui-sref="app.dashboard.ticket.detail({ticketId: ticket.id})">
              <td md-cell>
                {{ticket.startDateTime | date:'yyyy/MM/dd HH:mm'}} - {{ticket.endDateTime | date:'HH:mm'}}
              </td>
              <td md-cell>
                <ptz-ticket-status value="ticket.state"></ptz-ticket-status>
              </td>
              <td md-cell>
                <a ui-sref-ignore ui-sref="app.dashboard.chart.detail({chartId: ticket.chart.id})">{{ticket.chart.pet.name}}</a> ちゃん<br/>
                {{ticket.chart.pet.type}}
              </br/>
              </td>
              <td md-cell>
                <a ui-sref-ignore ui-sref="app.dashboard.customer.detail({customerId: ticket.chart.customer.id})">{{ticket.chart.customer.user.lastName}} {{ticket.chart.customer.user.firstName}}</a> 様
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </div>
  </section>
</div>
<!--



<h3>
  チケットをさがす
  <small>チケットを検索します。（チケットを発行して予約や受付を開始し、会計までのワークフローを管理します。）</small>
</h3>

<form name="form" role="form" class="form-inline mb" ng-submit="ctrl.search(ctrl.criteria)" novalidate>
  <label class="control-label small">診察日:</label>
  <section class="form-group mr" ng-class="{'has-error': form.date.$invalid && form.date.$dirty}">
    <div class="dropdown">
      <div class="input-group">
        <input id="date" name="date" type="date" class="form-control input-sm" placeholder="例）2012-02-28" ng-model="ctrl.criteria.date" ng-required="true" is-open="ctrl.openedDate" uib-datepicker-popup />
        <span class="input-group-addon">
          <a ng-click="ctrl.openDateDialog($event)"><span class="fa fa-calendar"></span></a>
        </span>
      </div>
    </div>
  </section>
  <section class="form-group mr" ng-class="{'has-error': form.state.$invalid && form.state.$dirty}">
    <label class="control-label small">ステータス:</label>
    <select id="state" name="state" class="form-control input-sm" ng-model="ctrl.criteria.state">
      <option value="">すべて</option>
      <option value="RESERVED">RESERVED</option>
      <option value="RECEIPTED">RECEIPTED</option>
      <option value="DOING">DOING</option>
      <option value="PAYMENT">PAYMENT</option>
      <option value="COMPLETED">COMPLETED</option>
      <option value="CANCEL">CANCEL</option>
    </select>
  </section>
  <section class="form-group">
    <button type="submit" class="btn btn-default btn-sm">フィルタ</button>
  </section>
</form>

<div class="alert alert-default text-center" ng-show="!ctrl.tickets || ctrl.tickets.length === 0">
  <p class="large-icon"><i class="fa fa-frown-o"></i></p>
  <h4>まだチケットが登録されていません</h4>
  <p>予約なし（カルテあり）の患者様の場合、<a ui-sref="app.dashboard.chart.list">こちらからカルテを検索し、</a>チケットを作成してください。</p>
  <p>予約なし（カルテなし）の患者様の場合、<a ui-sref="app.dashboard.customer.form">飼い主とカルテを作成し、</a>そのあとでチケットを作成してください。</p>
</div>
<div class="table-responsive" ng-show="ctrl.tickets && ctrl.tickets.length !== 0">
  <table class="table table-striped table-hover table-clickable middle">
    <thead class="small">
      <tr>
        <th class="col-sm-1">診察予定日</th>
        <th class="col-sm-1">診察予定時刻</th>
        <th class="col-sm-1">ステータス</th>
        <th class="col-sm-3">お名前</th>
        <th class="col-sm-3">飼い主</th>
        <th class="col-sm-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ticket in ctrl.tickets" ui-sref="app.dashboard.ticket.detail({ticketId:ticket.id})">
        <td class="small">
          {{ticket.startDateTime | date:'yyyy/MM/dd'}}
        </td>
        <td class="small">
          {{ticket.startDateTime | date:'HH:mm'}} - {{ticket.endDateTime | date:'HH:mm'}}
        </td>
        <td class="text-center">
          <ptz-schedule-status status="ticket.state"></ptz-schedule-status>
        </td>
        <td>
          <strong>{{ticket.chart.pet.name}}</strong> ちゃん<br/>
          <small>{{ticket.chart.pet.type}}</small>
        </td>
        <td>
          <strong>{{ticket.chart.customer.user.lastName}} {{ticket.chart.customer.user.firstName}}</strong> 様<br/>
          <small>{{ticket.chart.customer.user.state}}{{ticket.chart.customer.user.city}}{{ticket.chart.customer.user.street}}</small>
        </td>
        <td class="text-center">
          <a ui-sref-ignore ng-show="ticket.state === 'RESERVED'" ng-click="ctrl.cancel(ticket)" uib-tooltip="キャンセル" ptz-confirm-dialog callback="ctrl.remove(ticket)" message="一度キャンセルした予約を再びお取りすることはできません。<br/>本当に予約をキャンセルしてもよろしいですか？"><i class="fa fa-trash fa-fw"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
