<div class="container-fluid">
  <div class="page-header-content">
    <div class="heading-elements hide-xs">
      <a class="btn btn-link lnk-submenu" ng-click="ctrl.refresh()">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        <p>更新する</p>
      </a>
		</div>
    <div class="page-title">
      <h4>チケット</h4>
      <ul class="breadcrumb breadcrumb-caret small" ncy-breadcrumb></ul>
    </div>
  </div>
  <section class="panel">
    <div class="panel-body p0">
      <div class="ptc-swimlane">
        <div class="ptc-swimlane-column dropable-container" ui-sortable="ctrl.waitingListOptions" ng-model="ctrl.waitings">
          <h5><i class="fa fa-users mr hide-xs" aria-hidden="true"></i>診察待ち</h5>
          <div id="{{ticket.id}}" class="ptc-sortable ptc-swimlane-content" ng-repeat="ticket in ctrl.waitings">
            <ptc-ticket ticket="ticket" params="{ticketId: ticket.id}"></ptc-ticket>
          </div>
        </div>
        <div class="ptc-swimlane-column dropable-container" ui-sortable="ctrl.examinationListOptions" ng-model="ctrl.examinatings">
          <h5><i class="fa fa-stethoscope mr hide-xs" aria-hidden="true"></i>診察中</h5>
          <div id="{{ticket.id}}" class="ptc-sortable ptc-swimlane-content" ng-repeat="ticket in ctrl.examinatings">
            <ptc-ticket ticket="ticket" params="{ticketId: ticket.id}"></ptc-ticket>
          </div>
        </div>
        <div class="ptc-swimlane-column dropable-container" ui-sortable="ctrl.accountingListOptions" ng-model="ctrl.accountings">
          <h5><i class="fa fa-credit-card-alt mr hide-xs" aria-hidden="true"></i>会計待ち</h5>
          <div id="{{ticket.id}}" class="ptc-sortable ptc-swimlane-content" ng-repeat="ticket in ctrl.accountings">
            <ptc-ticket ticket="ticket" params="{ticketId: ticket.id}"></ptc-ticket>
          </div>
        </div>
        <div class="ptc-swimlane-column dropable-container b0" ui-sortable="ctrl.completedListOptions" ng-model="ctrl.completed">
          <h5><i class="fa fa-thumbs-up mr hide-xs" aria-hidden="true"></i>完了</h5>
          <div id="{{ticket.id}}" class="ptc-sortable ptc-swimlane-content" ng-repeat="ticket in ctrl.completed">
            <ptc-ticket ticket="ticket" params="{ticketId: ticket.id}"></ptc-ticket>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
