<div class="layout-max-width">
  <section>
    <md-toolbar md-theme="content" class="pt">
      <div class="md-toolbar-tools">
        <h2 class="md-title">
          チケット
          <span class="hint--large hint--bounce hint--rounded clickable" data-hint="チケットは１回の診察につき１枚発行します。チケットの作成は、カルテの検索から行います。">
            <md-icon class="material-icons small">help</md-icon>
          </span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.refresh()">
          <md-tooltip md-direction="left">更新</md-tooltip>
          <md-icon class="material-icons">refresh</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div layout-padding>
      <md-table-container class="flat-card">
        <table md-table class="table-hover table-clickable">
          <thead md-head>
            <tr md-row>
              <th md-column>診察予定日時</th>
              <th md-column>ステータス</th>
              <th md-column>お名前</th>
              <th md-column>飼い主</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="ticket in ctrl.tickets" ui-sref="app.dashboard.ticket.detail({ticketId: ticket.id})">
              <td md-cell>
                {{ticket.startDateTime | date:'yyyy/MM/dd HH:mm'}} - {{ticket.endDateTime | date:'HH:mm'}}
              </td>
              <td md-cell>
                <ptz-ticket-status value="ticket.state"></ptz-ticket-status>
              </td>
              <td md-cell>
                <a ui-sref-ignore ui-sref="app.dashboard.chart.detail({chartId: ticket.chart.id})">{{ticket.chart.pet.name}}</a> ちゃん<br/>
                {{ticket.chart.pet.type}}
              </br/>
              </td>
              <td md-cell>
                <a ui-sref-ignore ui-sref="app.dashboard.customer.detail({customerId: ticket.chart.customer.id})">{{ticket.chart.customer.user.lastName}} {{ticket.chart.customer.user.firstName}}</a> 様
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </div>
  </section>
</div>
