<div class="layout-max-width">
  <section>
    <md-toolbar md-theme="content" class="pt">
      <div class="md-toolbar-tools">
        <h1 class="md-title">{{ctrl.product.name}}の詳細</h1>
        <span flex></span>
        <md-button class="md-icon-button" ui-sref="app.dashboard.product.list">
          <md-tooltip md-direction="left">一覧</md-tooltip>
          <md-icon class="material-icons">list</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div layout-padding>
      <div layout-gt-xs="row" class="flat-card" layout-wrap>
        <md-list flex="50" flex-xs="100">
          <md-list-item>
            <md-icon class="material-icons">
              local_pharmacy
              <md-tooltip>商品名（診察名）</md-tooltip>
            </md-icon>
            <p>{{ctrl.product.name}}</p>
          </md-list-item>
          <md-list-item>
            <md-icon class="material-icons">
              create
              <md-tooltip>作成日時</md-tooltip>
            </md-icon>
            <p>{{ctrl.product.createdDate | date:'yyyy/MM/dd HH:mm'}}</p>
          </md-list-item>
        </md-list>
        <md-list flex="50" flex-xs="100">
          <md-list-item>
            <md-icon class="material-icons">
              attach_money
              <md-tooltip>価格（単価）</md-tooltip>
            </md-icon>
            <p>{{ctrl.product.price}}</p>
          </md-list-item>
          <md-list-item>
            <md-icon class="material-icons">
              business_center
              <md-tooltip>消費税区分</md-tooltip>
            </md-icon>
            <p ng-if="ctrl.product.taxType === 'EXCLUSIVE'"><span class="label label-info">外税</span></p>
            <p ng-if="ctrl.product.taxType === 'INCLUSIVE'"><span class="label label-danger">内税</span></p>
          </md-list-item>
          <md-list-item>
            <md-icon class="material-icons">
              monetization_on
              <md-tooltip>消費税率</md-tooltip>
            </md-icon>
            <p>{{ctrl.product.taxRate}}</p>
          </md-list-item>
        </md-list>
        <md-list flex="100">
          <md-list-item>
            <md-icon class="material-icons">
              note
              <md-tooltip>説明</md-tooltip>
            </md-icon>
            <p class="pre">{{ctrl.product.description}}</p>
          </md-list-item>
        </md-list>
      </div>
    </div>
  </section>
</div>

<div class="fab" md-theme="fab">
  <md-fab-speed-dial md-direction="up" md-open="ctrl.isOpen" class="md-scale" ng-mouseenter="ctrl.isOpen=true" ng-mouseleave="ctrl.isOpen=false" ng-cloak>
    <md-fab-trigger>
      <md-button aria-label="menu" class="md-fab md-primary">
        <md-icon class="material-icons">menu</md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button class="md-fab md-raised md-mini" ui-sref="app.dashboard.product.update({productId:ctrl.product.id})">
        <md-tooltip md-direction="left">編集する</md-tooltip>
        <md-icon class="material-icons">create</md-icon>
      </md-button>
      <md-button class="md-fab md-raised md-mini" ng-click="ctrl.delete($event, ctrl.product)">
        <md-tooltip md-direction="left">削除する</md-tooltip>
        <md-icon class="material-icons">delete</md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</div>
