<div class="container-fluid">
  <div class="page-header-content">
    <div class="heading-elements hide-xs">
      <a class="btn btn-link lnk-submenu" ui-sref="app.main">
        <i class="fa fa-home" aria-hidden="true"></i>
        <p>ホーム</p>
      </a>
		</div>
    <div class="page-title">
      <h4>動物病院の登録</h4>
      <ul class="breadcrumb breadcrumb-caret small" ncy-breadcrumb></ul>
    </div>
  </div>
  <section class="container panel">
    <div class="panel-body">
      <form name="form">
        <div class="row">
          <div class="col-sm-6">
            <ptc-input form="form" name="name" label="動物病院名" model="ctrl.clinic.name" maxlength="50" required="true" message="50 文字以内で入力してください。"></ptc-input>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <ptc-input form="form" name="lastName" label="院長（姓）" model="ctrl.clinic.lastName" maxlength="50" required="true" message="50 文字以内で入力してください。"></ptc-input>
          </div>
          <div class="col-sm-6">
            <ptc-input form="form" name="firstName" label="院長（名）" model="ctrl.clinic.firstName" maxlength="50" required="true" message="50 文字以内で入力してください。"></ptc-input>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <ptc-input type="text" form="form" name="zipCode" label="郵便番号" model="ctrl.clinic.zipCode" maxlength="50" required="true" pattern="^(\d{7})$" message="7 文字の半角数字で入力してください。"></ptc-input>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <ptc-input type="text" form="form" name="state" label="都道府県" model="ctrl.clinic.state" maxlength="50" required="true" message="10 文字以内で入力してください。"></ptc-input>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <ptc-input type="text" form="form" name="city" label="市区町村" model="ctrl.clinic.city" maxlength="50" required="true" message="50 文字以内で入力してください。"></ptc-input>
          </div>
          <div class="col-sm-6">
            <ptc-input type="text" form="form" name="street" label="番地・その他" model="ctrl.clinic.street" maxlength="50" required="true" message="50 文字以内で入力してください。"></ptc-input>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <ptc-input type="text" form="form" name="phoneNo" label="代表電話番号" model="ctrl.clinic.phoneNo" maxlength="15" required="true" pattern="^\d{1,4}-\d{4}$|^\d{2,5}-\d{1,4}-\d{4}$" message="15 文字以内の半角数字とハイフンで入力してください。"></ptc-input>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <ptc-input type="email" form="form" name="email" label="メールアドレス" model="ctrl.clinic.email" maxlength="100" required="true" message="100 文字以内で有効なメールアドレスを入力してください。" onblur="ctrl.copyEmailToLogin()"></ptc-input>
          </div>
        </div>
        <div class="row" ng-if="!ctrl.clinic.id">
          <div class="col-sm-12 text-center">
            <div vc-recaptcha key="ctrl.api.RECAPTCHA_KEY" on-create="setWidgetId(widgetId)" on-success="ctrl.success(response)" on-expire="ctrl.expirate()">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-right" ng-if="!ctrl.clinic.id">
            <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ctrl.save(ctrl.clinic)">登録する</button>
            <button class="btn btn-link" ui-sref="app.main">キャンセル</button>
          </div>
          <div class="col-xs-12 text-right" ng-if="!!ctrl.clinic.id">
            <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ctrl.update(ctrl.clinic)">保存する</button>
            <button class="btn btn-link" ui-sref="app.main">キャンセル</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
