<div class="layout-max-width">
  <section>
    <md-toolbar md-theme="content" class="pt">
      <div class="md-toolbar-tools">
        <h1 class="md-title">{{ctrl.staff.user.username}}の詳細</h1>
        <span flex></span>
        <md-button class="md-icon-button" ui-sref="app.dashboard.staff.list">
          <md-tooltip md-direction="left">一覧</md-tooltip>
          <md-icon class="material-icons">list</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div layout-padding>
      <div layout-gt-xs="row" class="flat-card" layout-wrap>
        <md-list flex="50" flex-xs="100">
          <md-list-item>
            <md-icon class="material-icons">
              person
              <md-tooltip>氏名</md-tooltip>
            </md-icon>
            <p>{{ctrl.staff.user.lastName}} {{ctrl.staff.user.firstName}}</p>
          </md-list-item>
          <md-list-item>
            <md-icon class="material-icons">
              person_outline
              <md-tooltip>氏名（フリガナ）</md-tooltip>
            </md-icon>
            <p ng-show="ctrl.staff.user.lastNameKana">{{ctrl.staff.user.lastNameKana}} {{ctrl.staff.user.firstNameKana}}</p>
            <p ng-show="!ctrl.staff.user.lastNameKana">未登録</p>
          </md-list-item>
        </md-list>
        <md-list flex="50" flex-xs="100">
          <md-list-item>
            <md-icon class="material-icons">
              mail_outline
              <md-tooltip>メールアドレス</md-tooltip>
            </md-icon>
            <p>{{ctrl.staff.user.email}}</p>
          </md-list-item>
          <md-list-item>
            <md-icon class="material-icons">
              mail_outline
              <md-tooltip>ステータス</md-tooltip>
            </md-icon>
            <p ng-if="ctrl.staff.activatedDate"><span class="label label-primary">アクティブ</span></p>
            <p ng-if="!ctrl.staff.activatedDate"><span class="label label-default">インアクティブ</span></p>
          </md-list-item>
        </md-list>
      </div>
    </div>
  </section>
</div>

<div class="fab" md-theme="fab">
  <md-button class="md-fab md-primary" ng-click="ctrl.delete($event, ctrl.staff)">
    <md-tooltip md-direction="left">削除する</md-tooltip>
    <md-icon class="material-icons">delete</md-icon>
  </md-button>
</div>
