<md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
  <md-toolbar class="md-tall">
    <h1 class="md-toolbar-tools"></h1>
  </md-toolbar>
  <md-content flex ng-controller="LeftCtrl">
    <ul class="side-menu">
      <li>
        <menu-link section="section">
          <md-button class="md-default" ui-sref-active-eq="active" ui-sref="app.dashboard({clinicId: 'c7df49da-875f-4208-b425-90e53fef54e0'})">
            <md-icon class="material-icons" aria-label="Dashboard">dashboard</md-icon>ダッシュボード
          </md-button>
        </menu-link>
      </il>
      <li>
        <menu-link section="section">
          <md-button ui-sref-active="active" ui-sref="app.dashboard.customer({clinicId: 'c7df49da-875f-4208-b425-90e53fef54e0'})">
            <md-icon class="material-icons" aria-label="Customers">face</md-icon>飼い主さま
          </md-button>
        </menu-link>
      </il>
      <li>
        <menu-link section="section">
          <md-button ui-sref-active="active" ui-sref="app.dashboard.chart({clinicId:1})">
            <md-icon class="material-icons" aria-label="Charts">pets</md-icon>カルテ
          </md-button>
        </menu-link>
      </il>
      <li>
        <menu-link section="section">
          <md-button ui-sref-active="active" ui-sref="app.dashboard.ticket({clinicId:1})">
            <md-icon class="material-icons" aria-label="Tickets">receipt</md-icon>チケット
          </md-button>
        </menu-link>
      </il>
      <li>
        <menu-link section="section">
          <md-button ui-sref-active="active" ui-sref="app.dashboard.mail({clinicId:1})">
            <md-icon class="material-icons" aria-label="Mails">mail</md-icon>メール
          </md-button>
        </menu-link>
      </il>
    </ul>
    <md-divider></md-divider>
    <ul class="side-menu">
      <li>
        <menu-link section="section">
          <md-button ui-sref-active="active" ui-sref="app.dashboard.staff({clinicId:1})">
            <md-icon class="material-icons" aria-label="Clinic Staffs">person</md-icon>クリニックスタッフ
          </md-button>
        </menu-link>
      </il>
      <li>
        <menu-link section="section">
          <md-button ui-sref-active="active" ui-sref="app.dashboard.product({clinicId:1})">
            <md-icon class="material-icons" aria-label="Products">loyalty</md-icon>商品・料金マスタ
          </md-button>
        </menu-link>
      </il>
      <li>
        <menu-link section="section">
          <md-button ui-sref-active="active" ui-sref="app.dashboard.vaccine({clinicId:1})">
            <md-icon class="material-icons" aria-label="Vaccine">colorize</md-icon>予防接種ワクチン
          </md-button>
        </menu-link>
      </il>
    </ul>
    <md-divider></md-divider>
    <ul class="side-menu">
      <li>
        <menu-link section="section">
          <md-button ui-sref-active="active" ui-sref="app.dashboard.setting({clinicId:1})">
            設定
          </md-button>
        </menu-link>
      </il>
      <li>
        <menu-link section="section">
          <md-button ui-sref-active="active" ui-sref="app.dashboard.feedback({clinicId:1})">
            ヘルプとフィードバック
          </md-button>
        </menu-link>
      </il>
    </ul>
  </md-content>
</md-sidenav>

<div layout="column" role="main" flex>
  <md-toolbar class="md-primary white" ng-controller="AppCtrl">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()" hide-gt-md>
        <md-icon class="material-icons white" aria-label="Menu">menu</md-icon>
      </md-button>
      <md-button class="md-icon-button" hide-sm>
        <md-icon class="material-icons white" aria-label="Menu">keyboard_backspace</md-icon>
      </md-button>
      <h3>ダッシュボード</h3>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Home" ui-sref="app.home">
        <md-icon class="material-icons white" aria-label="Home">home</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="More">
        <md-icon class="material-icons white">more_vert</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout="column" flex="" class="bg-color" ui-view="">
  </md-content>
<!--
  <div layout="column" ui-view="">
    <md-toolbar class="md-primary white" ng-controller="AppCtrl">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()" hide-gt-md>
          <md-icon class="material-icons white" aria-label="Menu">menu</md-icon>
        </md-button>
        <md-button class="md-icon-button" hide-sm>
          <md-icon class="material-icons white" aria-label="Menu">keyboard_backspace</md-icon>
        </md-button>
        <h3>ダッシュボード</h3>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Home" ui-sref="app.home">
          <md-icon class="material-icons white" aria-label="Home">home</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon class="material-icons white">more_vert</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content layout="column" flex="" class="bg-color">
      <div flex="noshrink">
      </div>
      <div flex="" layout-padding="" layout-align="center" class="pt0">
        <div class="copyright">
          © 2016 <a href="https://petz.io">petz.io</a> - Produced by <a href="https://majimena.co.jp" target="_blank">majimena Inc,.</a>
        </div>
      </div>
    </md-content>
  </div>
 -->
</div>
