<div class="layout-max-width" md-theme="content">
  <section>
    <md-toolbar class="pt">
      <div class="md-toolbar-tools">
        <h1 class="md-title">わたしのペット</h1>
        <span flex></span>
        <!-- <md-button class="md-icon-button" ui-sref="app.dashboard.customer.form">
          <md-tooltip>新規追加</md-tooltip>
          <md-icon class="material-icons">add</md-icon>
        </md-button> -->
      </div>
    </md-toolbar>
    <div layout-padding>
      <div class="note-default" flex ng-if="!ctrl.pets || ctrl.pets.length < 1">
        現在、飼育しているペットはございません。<br/>
        ペティカルをお使いの動物病院で診察を受けると、ペットの診察情報や診察履歴を見られるようになります。
      </div>
      <md-grid-list md-cols="4" md-cols-xs="1" md-cols-sm="3" md-gutter="1em" md-row-height="4:3" class="pt0">
        <md-grid-tile ng-repeat="pet in ctrl.pets" class="flat-card clickable">
          <md-grid-tile-footer>
            <h3>{{pet.name}}</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
    </div>
  </section>

  <section>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1 class="md-title">勤務先動物病院</h1>
        <span flex></span>
        <md-button class="md-primary" ui-sref="app.main.clinic.form">
          追加する
        </md-button>
      </div>
    </md-toolbar>
    <div layout-padding>
      <div class="note-default" flex ng-if="!ctrl.clinics || ctrl.clinics.length < 1">
        現在、利用できる動物病院はございません。<br/>
        ご自分が勤務している動物病院を「追加する」か、管理者の方に依頼して「招待」してもらってください。
      </div>
      <md-grid-list md-cols="4" md-cols-xs="1" md-cols-sm="3" md-gutter="1em" md-row-height="4:3" class="pt0">
        <md-grid-tile ng-repeat="clinic in ctrl.clinics" class="flat-card clickable" ui-sref="app.dashboard({clinicId: clinic.id})">
          <md-grid-tile-footer>
            <h3>{{clinic.name}}</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
    </md-content>
  </div>
</div>
