<div layout="row" layout-align="center start">
  <div layout-padding class="container-small flat-card mt3 mb3">
    <h3>メールを送信しました</h3>
    <div>
      <form name="form" novalidate="">
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex>
            <label>アクティベーションキー</label>
            <md-icon class="material-icons">vpn_key</md-icon>
            <input name="key" ng-model="ctrl.key" maxlength="50" ng-required="true" ng-maxlength="50"/>
            <div ng-if="form.key.$invalid" ng-messages="form.key.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                <span>お送りしたメールに記載されているキーを入力してください。</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-xs="row" layout-align="end center">
          <md-button class="md-primary md-raised" ng-disabled="form.$invalid" ng-click="ctrl.activate(ctrl.key)">有効化する</md-button>
        </div>
      </form>
    </div>
  </div>
</div>
