<div class="layout-max-width">
  <md-toolbar md-theme="content" class="pt">
    <div class="md-toolbar-tools">
      <h1 class="md-title">{{ctrl.ticket.chart.pet.name}} ちゃんの診察記録フォーム</h1>
    </div>
  </md-toolbar>
  <div layout-padding>
    <div class="flat-card">
      <form name="form" role="form" novalidate>
        <div layout="row" layout-wrap>
          <md-autocomplete md-input-name="product" md-floating-label="診察内容" md-selected-item="ctrl.examination.product" md-search-text="ctrl.productText" md-items="item in ctrl.getProducts(ctrl.productText)" md-item-text="item.name" ng-required="true" md-min-length="0" md-input-maxlength="50" flex="50" flex-xs="100" md-selected-item-change="ctrl.selectProduct(item)">
            <md-item-template>
              <span md-highlight-text="ctrl.productText">{{item.name}}</span>
            </md-item-template>
            <div ng-show="form.product.$invalid" ng-messages="form.product.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                <span>一覧から選択するか 50 文字以内で入力してください。</span>
              </div>
            </div>
          </md-autocomplete>
          <md-input-container class="md-block" flex="25" flex-xs="50">
            <label>診察料金</label>
            <input name="price" type="number" ng-model="ctrl.examination.price" ng-required="true" min="0" max="9999999"></input>
            <div ng-show="form.price.$invalid" ng-messages="form.price.$error">
              <div ng-message-exp="['required', 'min', 'max', 'pattern']">
                <span>0 - 9,999,999 の間で入力してください。</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex="25" flex-xs="50">
            <label>数量</label>
            <input name="quantity" type="number" ng-model="ctrl.examination.quantity" ng-required="true" min="0" max="9999"></input>
            <div ng-show="form.quantity.$invalid" ng-messages="form.quantity.$error">
              <div ng-message-exp="['required', 'min', 'max', 'pattern']">
                <span>0 - 9,999 の間で入力してください。</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex="100">
            <label>診察メモ</label>
            <textarea name="memo" ng-model="ctrl.examination.memo" maxlength="2000" md-maxlength="2000" rows="5"></textarea>
            <div ng-show="form.memo.$invalid" ng-messages="form.memo.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                <span>2000 文字以内で入力してください。</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" layout-align="end center" ng-if="!ctrl.examination.id">
          <md-button class="md-primary md-raised" ng-disabled="form.$invalid" ng-click="ctrl.save(ctrl.examination)">登録する</md-button>
          <md-button ui-sref="app.dashboard.ticket.detail.examination.list">キャンセル</md-button>
        </div>
        <div layout="row" layout-align="end center" ng-if="ctrl.examination.id">
          <md-button class="md-primary md-raised" ng-disabled="form.$invalid" ng-click="ctrl.update(ctrl.examination)">更新する</md-button>
          <md-button ui-sref="app.dashboard.ticket.detail.examination.list">キャンセル</md-button>
        </div>
      </form>
    </div>
  </div>
</div>
