<div class="container">
  <div class="page-header-content">
    <div class="page-title">
      <h4>診察料金マスタ</h4>
      <ul class="breadcrumb breadcrumb-caret small" ncy-breadcrumb></ul>
    </div>
  </div>
  <section class="panel">
    <div class="panel-body">
      <form name="form">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <ptc-input form="form" name="name" label="診察名" model="ctrl.product.name" maxlength="50" required="true" message="50 文字以内で入力してください。"></ptc-input>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <ptc-input form="form" name="price" label="診察料金（単価）" model="ctrl.product.price" type="price" min="0" max="9999999" required="true" message="0 - 9,999,999 の間の数字で入力してください。"></ptc-input>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <ptc-select name="category" label="科目" model="ctrl.product.course" data="ctrl.courses" on-transform="ctrl.transfrom(value)" on-create="ctrl.create(value)" maxlength="50" pattern="" required="true"></ptc-select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <ptc-select name="category" label="カテゴリ" model="ctrl.product.category" data="ctrl.categories" on-transform="ctrl.transfrom(value)" on-create="ctrl.create(value)" maxlength="50" pattern="" required="true"></ptc-select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <ptc-textarea form="form" name="description" label="説明" model="ctrl.product.description" maxlength="2000" message="2000文字以内で入力してください。"></ptc-textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-right" ng-if="!ctrl.product.id">
            <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ctrl.save(ctrl.product)">登録する</button>
            <button class="btn btn-link" ui-sref="app.dashboard.product">キャンセル</button>
          </div>
          <div class="col-xs-12 text-right" ng-if="ctrl.product.id">
            <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ctrl.update(ctrl.product)">更新する</button>
            <button class="btn btn-link" ui-sref="app.dashboard.product.detail({productId: ctrl.product.id})">キャンセル</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
