<div class="container">
  <div class="page-header-content">
    <div class="page-title">
      <h4>診察料金マスタ</h4>
      <ul class="breadcrumb breadcrumb-caret small" ncy-breadcrumb></ul>
    </div>
  </div>
  <section class="panel">
    <div class="panel-body">
      <form name="form">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="form-group" ng-class="{'has-error': form.name.$invalid}">
              <label for="name">診察名<span class="label label-required">必須</span></label>
              <input type="text" name="name" class="form-control" ng-model="ctrl.product.name" maxlength="50" ng-required="true" ng-maxlength="50" placeholder="50 文字以内で入力してください。"/>
              <div class="form-error" ng-show="form.name.$invalid" ng-messages="form.name.$error">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                  <span>50 文字以内で入力してください。</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="form-group" ng-class="{'has-error': form.price.$invalid}">
              <label for="price">診察料金（単価）<span class="label label-required">必須</span></label>
              <div class="input-group">
                <span class="input-group-addon">¥</span>
                <input name="price" type="number" class="form-control" ng-model="ctrl.product.price" ng-required="true" min="0" max="9999999" placeholder="0 - 9,999,999 の間の数字で入力してください。">
              </div>
              <div class="form-error" ng-show="form.price.$invalid" ng-messages="form.price.$error">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                  <span>0 - 9,999,999 の間の数字で入力してください。</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="form-group" ng-class="{'has-error': form.course.$invalid}">
              <label for="course">科目<span class="label label-required">必須</span></label>
              <input type="text" name="course" class="form-control" ng-model="ctrl.product.course" maxlength="50" ng-required="true" ng-maxlength="50" placeholder="50 文字以内で入力してください。"/>
              <div class="form-error" ng-show="form.course.$invalid" ng-messages="form.course.$error">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                  <span>50 文字以内で入力してください。</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="form-group" ng-class="{'has-error': form.category.$invalid}">
              <label for="category">カテゴリ<span class="label label-required">必須</span></label>
              <input type="text" name="category" class="form-control" ng-model="ctrl.product.category" maxlength="50" ng-required="true" ng-maxlength="50" placeholder="50 文字以内で入力してください。"/>
              <div class="form-error" ng-show="form.category.$invalid" ng-messages="form.category.$error">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                  <span>50 文字以内で入力してください。</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group" ng-class="{'has-error': form.description.$invalid}">
              <label for="description">説明</label>
              <textarea name="description" class="form-control" ng-model="ctrl.product.description" ng-maxlength="2000" placeholder="2000文字以内で入力してください。" rows="5"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-right" ng-if="!ctrl.product.id">
            <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ctrl.save(ctrl.product)">登録する</button>
            <button class="btn btn-link" ui-sref="app.dashboard.product">キャンセル</button>
          </div>
          <div class="col-xs-12 text-right" ng-if="ctrl.product.id">
            <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ctrl.update(ctrl.product)">更新する</button>
            <button class="btn btn-link" ui-sref="app.dashboard.product.detail({productId: ctrl.product.id})">キャンセル</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
