<h3>
  診察料金を登録する
  <small>診察料金やその他薬剤等の販売商品を登録します。</small>
</h3>

<div class="row">
  <div class="col-md-9">
    <form name="form" role="form" novalidate>
      <fieldset>
        <div class="row">
          <div class="col-md-6">
            <section class="form-group" ng-class="{'has-error': form.name.$invalid && form.name.$dirty}">
              <label for="name" class="control-label">診察・商品名</label><span class="label label-required">必須</span>
              <input id="name" name="name" type="text" class="form-control" maxlength="50" placeholder="例）初診料" ng-model="ctrl.product.name" ng-required="true" ng-maxlength="50"/>
              <div ng-show="form.name.$invalid && form.name.$dirty">
                <p class="help-block" ng-show="form.name.$error">
                  <span>50 文字以内で入力してください。</span>
                </p>
              </div>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <section class="form-group" ng-class="{'has-error': form.price.$invalid && form.price.$dirty}">
              <label for="price" class="control-label">料金（単価）</label><span class="label label-required">必須</span>
              <input id="price" name="price" type="number" class="form-control" min="1" max="999999999" placeholder="例）2000" ng-model="ctrl.product.price" ng-required="true"/>
              <div ng-show="form.price.$invalid && form.price.$dirty">
                <p class="help-block" ng-show="form.price.$error">
                  <span>1 〜 999999999 までの数値で入力してください。</span>
                </p>
              </div>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <section class="form-group" ng-class="{'has-error': form.taxType.$invalid && form.taxType.$dirty}">
              <label for="taxType" class="control-label">消費税区分</label><span class="label label-required">必須</span>
              <select id="taxType" name="taxType" class="form-control" ng-model="ctrl.product.taxType">
                <option value="EXCLUSIVE">外税</option>
                <option value="INCLUSIVE">内税</option>
              </select>
            </section>
          </div>
          <div class="col-md-6">
            <section class="form-group" ng-class="{'has-error': form.taxRate.$invalid && form.taxRate.$dirty}">
              <label for="taxRate" class="control-label">消費税率</label>
              <input id="taxRate" name="taxRate" type="number" class="form-control" maxlength="4" placeholder="例）初診料" ng-model="ctrl.product.taxRate" ng-required="true" ng-maxlength="4" ng-disabled="true"/>
              <div ng-show="form.taxRate.$invalid && form.taxRate.$dirty">
                <p class="help-block" ng-show="form.taxRate.$error">
                  <span>0.01 〜 1.00 までの数値で入力してください。</span>
                </p>
              </div>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <section class="form-group" ng-class="{'has-error': form.description.$invalid && form.description.$dirty}">
              <label for="description" class="control-label">説明</label>
              <textarea id="description" name="description" class="form-control" maxlength="2000" rows="5" placeholder="例）初診の患者様に必須で設定する診察料金のプランです。" ng-model="ctrl.product.description" ng-maxlength="2000"></textarea>
              <div ng-show="form.description.$invalid && form.description.$dirty">
                <p class="help-block" ng-show="form.description.$error">
                  <span>2000 文字以内で入力してください。</span>
                </p>
              </div>
            </section>
          </div>
        </div>
        <section class="form-group text-right">
          <button type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ctrl.update(ctrl.product)" ng-show="ctrl.product.id">変更する</button>
          <button type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ctrl.save(ctrl.product)" ng-show="!ctrl.product.id">登録する</button>
          <button type="button" class="btn btn-link" ui-sref="app.dashboard.product">キャンセル</button>
        </section>
      </fieldset>
    </form>
  </div>
  <div class="col-md-3">
    <h4 class="m0 pb-lg">ヒント</h4>
    <p><small>診察料金や商品については、一般的に使用されるデータが初期設定時に登録されています。</small></p>
    <p><small>各クリニックで料金をカスタマイズする場合は、個別に設定を行ってください。</small></p>
  </div>
</div>
