<div class="form-group" ng-class="{'has-error': $ctrl.form[$ctrl.name].$invalid}">
  <label for="{{$ctrl.name}}">
    <span ng-if="$ctrl.label">{{$ctrl.label}}</span>
    <span ng-if="$ctrl.required" class="label label-required">必須</span>
  </label>
  <ol class="form-control nya-bs-select" ng-model="$ctrl.model" data-size="7" ng-required="$ctrl.required">
    <li nya-bs-option="option in $ctrl.data">
      <a>{{option}}</a>
    </li>
  </ol>
  <div class="form-error" ng-show="$ctrl.form[$ctrl.name].$invalid" ng-messages="$ctrl.form[$ctrl.name].$error">
    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
      <span>{{$ctrl.message}}</span>
    </div>
  </div>
</div>
