<div class="mt-xl">
  <div class="text-center">
    <h3>動物病院を登録する</h3>
    <small>ご自分の経営する動物病院を登録してください。診察管理用のダッシュボードが作成されます。</small>
  </div>
  <hr/>
  <div class="block-center col-sm-8 col-xs-12" style="float:none;">
    <form name="form" role="form" novalidate>
      <fieldset>
        <div class="row">
          <div class="col-md-12">
            <section class="form-group" ng-class="{'has-error': form.activationKey.$invalid && form.activationKey.$dirty}">
              <label for="activationKey" class="control-label">アクティベーションキー</label><span class="label label-required">必須</span>
              <input id="activationKey" name="activationKey" type="text" class="form-control" maxlength="20" placeholder="メールに記載されているキーを入力してください" ng-model="ctrl.activation.activationKey" ng-required="true" ng-maxlength="20"/>
              <div ng-show="form.activationKey.$invalid && form.activationKey.$dirty">
                <p class="help-block" ng-show="form.activationKey.$error">
                  <span>メールに記載されているキーを入力してください。</span>
                </p>
              </div>
            </section>
          </div>
        </div>
        <section class="form-group text-right">
          <button type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ctrl.accept(ctrl.activation)" ng-show="!ctrl.clinic.id">承認する</button>
          <button type="button" class="btn btn-link" ui-sref="main.home" ng-show="!ctrl.clinic.id">キャンセル</button>
        </section>
      </fieldset>
    </form>
  </div>
  <hr/>
</div>
