<div class="layout-max-width">
  <md-toolbar md-theme="content" class="pt">
    <div class="md-toolbar-tools">
      <h1 class="md-title">{{ctrl.ticket.chart.pet.name}} ちゃんの診察内容</h1>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="ctrl.refresh()">
        <md-tooltip md-direction="left">更新する</md-tooltip>
        <md-icon class="material-icons">refresh</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <div layout-padding>
    <md-table-container class="flat-card">
      <table md-table class="table-hover table-clickable">
        <thead md-head>
          <tr md-row>
            <th md-column>診察日時</th>
            <th md-column>診察内容</th>
            <th md-column>価格</th>
            <th md-column>数量</th>
            <th md-column>合計</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="examination in ctrl.examinations">
            <td md-cell>
              {{examination.examinationDateTime | date:'yyyy/MM/dd HH:mm'}}
            </td>
            <td md-cell>
              {{examination.name}}
            </td>
            <td md-cell>
              {{examination.price | currency:'¥ ':0}}
            </td>
            <td md-cell>
              {{examination.quantity}}
            </td>
            <td md-cell>
              {{examination.total | currency:'¥ ':0}} ({{examination.tax | currency:'¥ ':0}})
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </div>
</div>

<div class="fab" md-theme="fab">
  <md-fab-speed-dial md-direction="up" md-open="ctrl.isOpen" class="md-scale" ng-mouseenter="ctrl.isOpen=true" ng-mouseleave="ctrl.isOpen=false" ng-cloak>
    <md-fab-trigger>
      <md-button aria-label="menu" class="md-fab md-primary">
        <md-icon class="material-icons">menu</md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button class="md-fab md-raised md-mini">
        <md-tooltip md-direction="left">診察する</md-tooltip>
        <md-icon class="material-icons">add</md-icon>
      </md-button>
      <md-button class="md-fab md-raised md-mini">
        <md-tooltip md-direction="left">会計する</md-tooltip>
        <md-icon class="material-icons">attach_money</md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</div>
