  <div layout="column" layout-fill layout-align="top center">
    <p>
    The left sidenav will 'lock open' on a medium (>=960px wide) device.
    </p>
    <p>
    The right sidenav will focus on a specific child element.
    </p>
    <div>
      <md-button ng-click="toggleLeft()"
        class="md-primary" hide-gt-md>
        Toggle left
      </md-button>
    </div>
    <div>
      <md-button ng-click="toggleRight()"
        ng-hide="isOpenRight()"
        class="md-primary">
        Toggle right
      </md-button>
    </div>
    <div>
      <md-button ui-sref="app.dashboard({clinicId:1})" class="md-primary">
        go to dashboard
      </md-button>
    </div>
    <p>
    The left sidenav will 'lock open' on a medium (>=960px wide) device.
    </p>
    <p>
    The right sidenav will focus on a specific child element.
    </p>
    <div>
      <md-button ng-click="toggleLeft()"
        class="md-primary" hide-gt-md>
        Toggle left
      </md-button>
    </div>
    <div>
      <md-button ng-click="toggleRight()"
        ng-hide="isOpenRight()"
        class="md-primary">
        Toggle right
      </md-button>
    </div>
    <p>
    The left sidenav will 'lock open' on a medium (>=960px wide) device.
    </p>
    <p>
    The right sidenav will focus on a specific child element.
    </p>
    <div>
      <md-button ng-click="toggleLeft()"
        class="md-primary" hide-gt-md>
        Toggle left
      </md-button>
    </div>
    <div>
      <md-button ng-click="toggleRight()"
        ng-hide="isOpenRight()"
        class="md-primary">
        Toggle right
      </md-button>
    </div>
    <p>
    The left sidenav will 'lock open' on a medium (>=960px wide) device.
    </p>
    <p>
    The right sidenav will focus on a specific child element.
    </p>
    <div>
      <md-button ng-click="toggleLeft()"
        class="md-primary" hide-gt-md>
        Toggle left
      </md-button>
    </div>
    <div>
      <md-button ng-click="toggleRight()"
        ng-hide="isOpenRight()"
        class="md-primary">
        Toggle right
      </md-button>
    </div>
  </div>
  <div flex></div>
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <md-toolbar>
    <h1 class="md-toolbar-tools">Sidenav Right</h1>
  </md-toolbar>
  <md-content ng-controller="RightCtrl" layout-padding>
    <form>
      <md-input-container>
        <label for="testInput">Test input</label>
        <input type="text" id="testInput"
               ng-model="data" md-autofocus>
      </md-input-container>
    </form>
    <md-button ng-click="close()" class="md-primary">
      Close Sidenav Right
    </md-button>
  </md-content>
</md-sidenav>
