<div class="modal-header">
  <button type="button" class="close" aria-label="close" ng-click="ctrl.closeDialog()">&times;</button>
  <h4 class="modal-title">狂犬病予防注射済証を発行する</h4>
</div>

<div class="modal-body">
  <form name="form" role="form" novalidate>
    <div class="row">
      <div class="col-md-12">
        <section class="form-group">
          <label class="control-label">お名前</label>
          <p class="control-label-static">{{ctrl.ticket.chart.pet.name}} ちゃん（{{ctrl.ticket.chart.customer.user.lastName}} {{ctrl.ticket.chart.customer.user.firstName}} 様）</p>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <section class="form-group">
          <label class="control-label">種別</label>
          <p class="control-label-static">{{ctrl.ticket.chart.pet.type}}</p>
        </section>
      </div>
      <div class="col-md-6">
        <section class="form-group">
          <label class="control-label">毛色</label>
          <p class="control-label-static">{{ctrl.ticket.chart.pet.color}}</p>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <section class="form-group" ng-class="{'has-error': form.vaccinatedDate.$dirty && form.vaccinatedDate.$invalid}">
          <label class="control-label">予防接種日</label><span class="label label-required">必須</span>
          <div class="dropdown">
            <div class="input-group">
              <input id="vaccinatedDate" name="vaccinatedDate" type="date" class="form-control" placeholder="例）2016-04-30" ng-model="ctrl.certificate.vaccinatedDate" ng-required="true" is-open="ctrl.openedVaccinatedDate" uib-datepicker-popup />
              <span class="input-group-addon">
                <a ng-click="ctrl.openVaccinatedDateDialog($event)"><span class="fa fa-calendar"></span></a>
              </span>
            </div>
          </div>
          <div ng-show="form.vaccinatedDate.$invalid && form.vaccinatedDate.$dirty">
            <p class="help-block" ng-show="form.vaccinatedDate.$error">
              <span>yyyy-MM-dd 形式の日付を入力してください。</span>
            </p>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <section class="form-group" ng-class="{'has-error': form.licenseNo.$dirty && form.licenseNo.$invalid}">
          <label class="control-label">鑑札番号</label>
          <input type="text" id="licenseNo" name="licenseNo" class="form-control" maxlength="50" placeholder="例）0123456789" ng-model="ctrl.certificate.licenseNo"/>
          <div ng-show="form.licenseNo.$invalid && form.licenseNo.$dirty">
            <p class="help-block" ng-show="form.licenseNo.$error">
              <span>50 文字以内で鑑札番号を入力してください。</span>
            </p>
          </div>
        </section>
      </div>
      <div class="col-md-6">
        <section class="form-group" ng-class="{'has-error': form.reportNo.$dirty && form.reportNo.$invalid}">
          <label class="control-label">済票番号</label>
          <input type="text" id="reportNo" name="reportNo" class="form-control" maxlength="50" placeholder="例）012345" ng-model="ctrl.certificate.reportNo"/>
          <div ng-show="form.reportNo.$invalid && form.reportNo.$dirty">
            <p class="help-block" ng-show="form.reportNo.$error">
              <span>50 文字以内で済票番号を入力してください。</span>
            </p>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <section class="form-group" ng-class="{'has-error': form.memo.$dirty && form.memo.$invalid}">
          <label class="control-label">その他特徴</label>
          <input type="text" id="memo" name="memo" class="form-control" maxlength="2000" placeholder="例）右後ろ足の付け根に火傷跡あり" ng-model="ctrl.certificate.memo"/>
          <div ng-show="form.memo.$invalid && form.memo.$dirty">
            <p class="help-block" ng-show="form.memo.$error">
              <span>2000 文字以内で入力してください。</span>
            </p>
          </div>
        </section>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="ctrl.save(ctrl.certificate)" ng-disabled="form.$invalid">保存する</button>
  <button type="button" class="btn btn-link" ng-click="ctrl.closeDialog()">閉じる</button>
</div>
