<div class="layout-max-width">
  <md-toolbar md-theme="content" class="pt">
    <div class="md-toolbar-tools">
      <h1 class="md-title">{{ctrl.ticket.chart.pet.name}} ちゃんの証明書発行</h1>
    </div>
  </md-toolbar>
  <div layout-padding>
    <div class="flat-card">
      <form name="form" role="form" novalidate>
        <div layout="row" layout-wrap>
          <div class="md-datepicker-wrap" flex="100">
            <md-datepicker name="vaccinatedDate" ng-model="ctrl.certificate.vaccinatedDate" md-placeholder="予防接種日" ng-required="true" md-min-date="ctrl.today">
            </md-datepicker>
            <div ng-show="form.vaccinatedDate.$invalid" ng-messages="form.vaccinatedDate.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']" class="md-error-message">
                <span>yyyy/MM/dd の形式で入力してください。</span>
              </div>
            </div>
          </div>
          <md-input-container class="md-block" flex="50" flex-xs="100">
            <label>接種ワクチン</label>
            <md-select name="vaccine" ng-model="ctrl.certificate.vaccine.id" ng-required="true">
              <md-option ng-repeat="vaccine in ctrl.vaccines" value="{{vaccine.id}}">
                {{vaccine.name}}
              </md-option>
            </md-select>
            <div class="select-message-container">
              <div ng-show="form.vaccine.$invalid" ng-messages="form.vaccine.$error">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                  <span>2000 文字以内で入力してください。</span>
                </div>
              </div>
            </div>
          </md-input-container>
          <div flex="50" hide-xs></div>
          <md-input-container class="md-block" flex="100">
            <label>メモ、要望事項</label>
            <textarea name="memo" ng-model="ctrl.certificate.memo" maxlength="2000" md-maxlength="2000" rows="5"></textarea>
            <div ng-show="form.memo.$invalid" ng-messages="form.memo.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                <span>2000 文字以内で入力してください。</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" layout-align="end center" ng-if="!ctrl.certificate.id">
          <md-button class="md-primary md-raised" ng-disabled="form.$invalid" ng-click="ctrl.save(ctrl.certificate)">登録する</md-button>
          <md-button ui-sref="app.dashboard.ticket.detail.certificate.list">キャンセル</md-button>
        </div>
        <div layout="row" layout-align="end center" ng-if="ctrl.certificate.id">
          <md-button class="md-primary md-raised" ng-disabled="form.$invalid" ng-click="ctrl.update(ctrl.certificate)">更新する</md-button>
          <md-button ui-sref="app.dashboard.ticket.detail.certificate.detail({certificateId: ctrl.certificate.id})">キャンセル</md-button>
        </div>
      </form>
    </div>
  </div>
</div>
