<div class="layout-max-width">
  <section>
    <md-toolbar md-theme="content" class="pt">
      <div class="md-toolbar-tools">
        <h2 class="md-title">予防接種ワクチン</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.refresh()">
          <md-tooltip md-direction="left">更新</md-tooltip>
          <md-icon class="material-icons">refresh</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div layout-padding>
      <md-table-container class="flat-card">
        <table md-table class="table-hover table-clickable">
          <thead md-head>
            <tr md-row>
              <th md-column><span>ワクチン名</span></th>
              <th md-column><span>作成日時</span></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="vaccine in ctrl.vaccines" ui-sref="app.dashboard.vaccine.detail({vaccineId: vaccine.id})">
              <td md-cell>
                {{vaccine.name}}
              </td>
              <td md-cell>
                {{vaccine.createdDate | date:'yyyy/MM/dd HH:mm'}}
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </div>
  </section>
</div>

<div class="fab" md-theme="fab">
  <md-button aria-label="add" class="md-fab md-primary" ui-sref="app.dashboard.vaccine.form">
    <md-tooltip md-direction="left">新規追加</md-tooltip>
    <md-icon class="material-icons">add</md-icon>
  </md-button>
</div>
