<div class="container-fluid">
  <div class="page-header-content">
    <div class="heading-elements hide-xs">
      <a class="btn btn-link lnk-submenu" ui-sref="app.dashboard.staff.form">
        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
        <p>招待する</p>
      </a>
      <a class="btn btn-link lnk-submenu" ng-click="ctrl.refresh()">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        <p>更新する</p>
      </a>
		</div>
    <div class="page-title">
      <h4>管理 - スタッフ管理</h4>
      <ul class="breadcrumb breadcrumb-caret small" ncy-breadcrumb></ul>
    </div>
  </div>
  <section class="panel">
    <div class="panel-body">
      <form class="col-sm-6 col-md-4 mb2 pl0">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control" ng-model="ctrl.keyword" placeholder="検索キーワードを入力" />
        </div>
      </form>
      <div class="table-responsive">
        <table class="table table-hover table-clickable table-sortable table-middle">
          <thead>
            <tr>
              <th class="col-sm-4">
                <a ng-click="ctrl.sort('user.lastName')">スタッフ</a>
                <i class="fa ml" ng-show="ctrl.order=='user.lastName'" ng-class="{'fa-caret-up':ctrl.reverse, 'fa-caret-down':!ctrl.reverse}"></i>
              </th>
              <th class="col-sm-4">
                <a ng-click="ctrl.sort('user.login')">ログインID</a>
                <i class="fa ml" ng-show="ctrl.order=='user.login'" ng-class="{'fa-caret-up':ctrl.reverse, 'fa-caret-down':!ctrl.reverse}"></i>
              </th>
              <th class="col-sm-2">
                <a ng-click="ctrl.sort('staff.role')">ロール</a>
                <i class="fa ml" ng-show="ctrl.order=='staff.role'" ng-class="{'fa-caret-up':ctrl.reverse, 'fa-caret-down':!ctrl.reverse}"></i>
              </th>
              <th class="col-sm-2">
                <a ng-click="ctrl.sort('lastModifiedDate')">最終更新日時</a>
                <i class="fa ml" ng-show="ctrl.order=='lastModifiedDate'" ng-class="{'fa-caret-up':ctrl.reverse, 'fa-caret-down':!ctrl.reverse}"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="staff in ctrl.staffs | filter:ctrl.keyword | orderBy:ctrl.order:ctrl.reverse | itemsPerPage:20" ui-sref="app.dashboard.staff.detail({staffId: staff.id})">
              <td>
                <img gravatar-src-once="staff.user.login" class="img-circle mr"/>
                {{staff.user.lastName}} {{staff.user.firstName}}
              </td>
              <td>
                {{staff.user.login}}
              </td>
              <td>
                <span class="label label-danger" ng-if="staff.role === 'ROLE_OWNER'">オーナー</span>
                <span class="label label-info" ng-if="staff.role === 'ROLE_STAFF'">スタッフ</span>
              </td>
              <td>
                {{staff.lastModifiedDate | date:'yyyy/MM/dd HH:mm'}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center m0">
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
      </div>
    </div>
  </section>
</div>
