<div class="container-fluid">
  <div class="page-header-content">
    <div class="heading-elements hide-xs">
      <a class="btn btn-link lnk-submenu" ui-sref="app.dashboard.customer.form">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <p>追加する</p>
      </a>
      <a class="btn btn-link lnk-submenu" ui-sref="app.dashboard.customer.import">
        <i class="fa fa-upload" aria-hidden="true"></i>
        <p>取り込む</p>
      </a>
      <a class="btn btn-link lnk-submenu" ui-sref="app.dashboard.customer.upload">
        <i class="fa fa-th" aria-hidden="true"></i>
        <p>一括登録</p>
      </a>
      <a class="btn btn-link lnk-submenu" ng-click="ctrl.refresh()">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        <p>更新する</p>
      </a>
		</div>
    <div class="page-title">
      <h4>飼い主さま</h4>
      <ul class="breadcrumb breadcrumb-caret small" ncy-breadcrumb></ul>
    </div>
  </div>
  <section class="panel">
    <div class="panel-body">
      <form class="col-sm-6 col-md-4 mb2 pl0">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control" ng-model="ctrl.keyword" placeholder="検索キーワードを入力" />
        </div>
      </form>
      <div class="table-responsive">
        <table class="table table-hover table-clickable table-sortable table-middle">
          <thead>
            <tr>
              <th>
                <a ng-click="ctrl.sort('customerCode')">コード</a>
                <i class="fa ml" ng-show="ctrl.order=='customerCode'" ng-class="{'fa-caret-up':ctrl.reverse, 'fa-caret-down':!ctrl.reverse}"></i>
              </th>
              <th>
                <a ng-click="ctrl.sort('user.lastName')">飼い主さま</a>
                <i class="fa ml" ng-show="ctrl.order=='user.lastName'" ng-class="{'fa-caret-up':ctrl.reverse, 'fa-caret-down':!ctrl.reverse}"></i>
              </th>
              <th>
                <a ng-click="ctrl.sort('user.lastNameKana')">よみがな</a>
                <i class="fa ml" ng-show="ctrl.order=='user.lastNameKana'" ng-class="{'fa-caret-up':ctrl.reverse, 'fa-caret-down':!ctrl.reverse}"></i>
              </th>
              <th>
                <a ng-click="ctrl.sort('user.zipCode')">住所・連絡先</a>
                <i class="fa ml" ng-show="ctrl.order=='user.zipCode'" ng-class="{'fa-caret-up':ctrl.reverse, 'fa-caret-down':!ctrl.reverse}"></i>
              </th>
              <th>
                <a ng-click="ctrl.sort('lastModifiedDate')">最終更新日時</a>
                <i class="fa ml" ng-show="ctrl.order=='lastModifiedDate'" ng-class="{'fa-caret-up':ctrl.reverse, 'fa-caret-down':!ctrl.reverse}"></i>
              </th>
              <th class="hide-xs hide-sm">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="customer in ctrl.customers | filter:ctrl.keyword | orderBy:ctrl.order:ctrl.reverse | itemsPerPage:20" ui-sref="app.dashboard.customer.detail({customerId: customer.id})">
              <td class="col-sm-1">
                {{customer.customerCode}}
              </td>
              <td class="col-sm-2">
                {{customer.user.lastName}} {{customer.user.firstName}} 様
              </td>
              <td class="col-sm-2">
                {{customer.user.lastNameKana}} {{customer.user.firstNameKana}}<span ng-show="customer.user.lastNameKana || customer.user.firstNameKana"> 様</span>
              </td>
              <td class="col-sm-4">
                〒 {{customer.user.zipCode}}<br/>
                {{customer.user.state}}{{customer.user.city}}{{customer.user.street}}{{customer.user.other}}
              </td>
              <td class="col-sm-2">
                {{customer.lastModifiedDate | date:'yyyy/MM/dd HH:mm'}}
              </td>
              <td class="col-sm-1 hide-xs hide-sm" ui-sref-ignore>
                <div class="btn-group" uib-dropdown>
                  <button id="split-button" type="button" class="btn btn-default btn-sm">予約</button>
                  <button type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                    <li role="menuitem"><a href="#">編集する</a></li>
                    <li role="menuitem"><a href="#">削除する</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center m0">
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
      </div>
    </div>
  </section>
</div>
