<div class="layout-max-width">
  <section>
    <md-toolbar md-theme="content" class="pt">
      <div class="md-toolbar-tools">
        <h2 class="md-title">飼い主さま</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.refresh()">
          <md-tooltip>更新</md-tooltip>
          <md-icon class="material-icons">refresh</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div layout-padding>
      <md-table-container class="flat-card">
        <table md-table md-row-select class="table-hover table-clickable">
          <thead md-head>
            <tr md-row>
              <th md-column md-order-by="customer.customerCode"><span>飼い主コード</span></th>
              <th md-column md-order-by="customer.lastName"><span>飼い主さま</span></th>
              <th md-column><span>飼い主さま（よみがな）</span></th>
              <th md-column><span>住所・連絡先</span></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="customer in ctrl.customers" ui-sref="app.dashboard.customer.detail({customerId: customer.id})">
              <td md-cell>
                {{customer.customerCode}}
              </td>
              <td md-cell>
                {{customer.user.lastName}} {{customer.user.firstName}} 様
              </td>
              <td md-cell>
                {{customer.user.lastNameKana}} {{customer.user.firstNameKana}}<span ng-show="customer.user.lastNameKana || customer.user.firstNameKana"> 様</span>
              </td>
              <td md-cell>
                {{customer.user.zipCode}}<br/>
                {{customer.user.state}}{{customer.user.city}}{{customer.user.street}}
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </div>
  </section>
</div>

<div class="fab" md-theme="fab">
  <md-fab-speed-dial md-direction="up" md-open="ctrl.isOpen" class="md-scale" ng-mouseenter="ctrl.isOpen=true" ng-mouseleave="ctrl.isOpen=false" ng-cloak>
    <md-fab-trigger>
      <md-button aria-label="add" class="md-fab md-primary">
        <md-icon class="material-icons">add</md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button aria-label="add" class="md-fab md-raised md-mini" ui-sref="app.dashboard.customer.form">
        <md-tooltip md-direction="left">新規追加</md-tooltip>
        <md-icon class="material-icons">edit</md-icon>
      </md-button>
      <md-button aria-label="import" class="md-fab md-raised md-mini" ui-sref="app.dashboard.customer.import">
        <md-tooltip md-direction="left">インポート</md-tooltip>
        <md-icon class="material-icons">file_upload</md-icon>
      </md-button>
      <md-button aria-label="import" class="md-fab md-raised md-mini" ui-sref="app.dashboard.customer.upload">
        <md-tooltip md-direction="left">一括登録（移行）</md-tooltip>
        <md-icon class="material-icons">backup</md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</div>
