<div class="container">
  <div class="page-header-content">
    <div class="heading-elements">
      <a class="btn btn-link" ui-sref="app.dashboard.charge.form">
        <md-icon class="material-icons">add</md-icon>
        <p><small>追加する</small></p>
      </a>
      <a href="#" class="btn btn-link">
        <md-icon class="material-icons">refresh</md-icon>
        <p><small>更新する</small></p>
      </a>
		</div>
    <div class="page-title">
      <h4>診察料金マスタ</h4>
      <ul class="breadcrumb breadcrumb-caret small" ncy-breadcrumb></ul>
    </div>
  </div>
  <section class="panel">
    <div class="panel-body">
      <form class="col-sm-6 col-md-4 mb2 pl0">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control" ng-model="ctrl.keyword" placeholder="検索キーワードを入力" />
        </div>
      </form>
      <div class="table-responsive">
        <table class="table table-hover table-clickable table-sortable">
          <thead>
            <tr>
              <th>
                <a ng-click="ctrl.sort('course')">科目</a>
                <i class="fa ml" ng-show="ctrl.order=='course'" ng-class="{'fa-caret-up':ctrl.reverse, 'fa-caret-down':!ctrl.reverse}"></i>
              </th>
              <th>
                <a ng-click="ctrl.sort('category')">分類</a>
                <i class="fa ml" ng-show="ctrl.order=='category'" ng-class="{'fa-caret-up':ctrl.reverse, 'fa-caret-down':!ctrl.reverse}"></i>
              </th>
              <th>
                <a ng-click="ctrl.sort('name')">診察料金名</a>
                <i class="fa ml" ng-show="ctrl.order=='name'" ng-class="{'fa-caret-up':ctrl.reverse, 'fa-caret-down':!ctrl.reverse}"></i>
              </th>
              <th>
                <a ng-click="ctrl.sort('price')">単価</a>
                <i class="fa ml" ng-show="ctrl.order=='price'" ng-class="{'fa-caret-up':ctrl.reverse, 'fa-caret-down':!ctrl.reverse}"></i>
              </th>
              <th>
                税区分
              </th>
              <th>
                <a ng-click="ctrl.sort('lastModifiedDate')">最終更新日時</a>
                <i class="fa ml" ng-show="ctrl.order=='lastModifiedDate'" ng-class="{'fa-caret-up':ctrl.reverse, 'fa-caret-down':!ctrl.reverse}"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="charge in ctrl.charges | filter:ctrl.keyword | orderBy:ctrl.order:ctrl.reverse | itemsPerPage:20" ui-sref="app.dashboard.charge.detail({chargeId: charge.id})">
              <td class="col-sm-1">
                {{charge.course}}
              </td>
              <td class="col-sm-2">
                {{charge.category}}
              </td>
              <td class="col-sm-5">
                {{charge.name}}
              </td>
              <td class="col-sm-1">
                {{charge.price | currency:'¥ ':0}}
              </td>
              <td class="col-sm-1">
                <span class="label label-default" ng-if="charge.taxType === 'EXCLUSIVE'">外税</span>
                <span class="label label-warning" ng-if="charge.taxType !== 'EXCLUSIVE'">内税</span>
              </td>
              <td class="col-sm-2">
                {{charge.lastModifiedDate | date:'yyyy/MM/dd HH:mm'}}
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center m0">
          <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
        </div>
      </div>
      <!-- <md-table-pagination md-limit="ctrl.limit" md-limit-options="[20,40,60,80,100]" md-page="ctrl.page" md-total="{{ctrl.charges.length}}" md-page-select="true" md-boundary-links="true">
      </md-table-pagination> -->
    </div>
  </section>
</div>
