<div class="layout-max-width">
  <md-toolbar md-theme="content" class="pt">
    <div class="md-toolbar-tools">
      <h1 class="md-title">アカウント</h1>
    </div>
  </md-toolbar>
  <div layout-padding>
    <div class="flat-card">
      <form name="form" role="form" novalidate>
        <div layout="row" layout-wrap>
          <md-input-container class="md-block" flex="50" flex-xs="100">
            <label>ログインID</label>
            <input name="login" ng-model="ctrl.account.login" ng-disabled="true"/>
          </md-input-container>
          <div flex="50" hide-xs></div>
          <md-input-container class="md-block" flex="50" flex-xs="100">
            <label>ユーザ名</label>
            <input name="username" ng-model="ctrl.account.username" maxlength="50" ng-required="true" ng-maxlength="50"/>
            <div ng-if="form.username.$invalid" ng-messages="form.username.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                <span>50 文字以内で入力してください。</span>
              </div>
            </div>
          </md-input-container>
          <div flex="50" hide-xs></div>
          <md-input-container class="md-block" flex="50" flex-xs="100">
            <label>氏名（姓）</label>
            <input name="lastName" ng-model="ctrl.account.lastName" maxlength="50" ng-maxlength="50"/>
            <div ng-if="form.lastName.$invalid" ng-messages="form.lastName.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                <span>50 文字以内で入力してください。</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex="50" flex-xs="100">
            <label>氏名（名）</label>
            <input name="firstName" ng-model="ctrl.account.firstName" maxlength="50" ng-maxlength="50"/>
            <div ng-if="form.firstName.$invalid" ng-messages="form.firstName.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                <span>50 文字以内で入力してください。</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex="25" flex-xs="50">
            <label>郵便番号</label>
            <input name="zipCode" ng-model="ctrl.account.zipCode" maxlength="7" ng-required="true" ng-minlength="7" ng-maxlength="7" ng-pattern="/^\d+$/"/>
            <div ng-show="form.zipCode.$invalid" ng-messages="form.zipCode.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                <span>7 文字の半角数字で入力してください。</span>
              </div>
            </div>
          </md-input-container>
          <div flex="75" flex-xs="50"></div>
          <md-input-container class="md-block" flex="25" flex-xs="50">
            <label>都道府県</label>
            <input name="state" ng-model="ctrl.account.state" maxlength="10" ng-required="true" ng-maxlength="10"/>
            <div ng-show="form.state.$invalid" ng-messages="form.state.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                <span>10 文字以内で入力してください。</span>
              </div>
            </div>
          </md-input-container>
          <div flex="75" flex-xs="50"></div>
          <md-input-container class="md-block" flex="100">
            <label>市区町村</label>
            <input name="city" ng-model="ctrl.account.city" maxlength="50" ng-required="true" ng-maxlength="50"/>
            <div ng-show="form.city.$invalid" ng-messages="form.city.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                <span>50 文字で入力してください。</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex="100">
            <label>番地・その他</label>
            <input name="street" ng-model="ctrl.account.street" maxlength="50" ng-required="true" ng-maxlength="50"/>
            <div ng-show="form.street.$invalid" ng-messages="form.street.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                <span>50 文字以内で入力してください。</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex="50" flex-xs="100">
            <label>電話番号（自宅）</label>
            <input name="phoneNo" ng-model="ctrl.account.phoneNo" maxlength="15" ng-required="true" ng-maxlength="15" ng-pattern="/^\d+$/"/>
            <div ng-show="form.phoneNo.$invalid" ng-messages="form.phoneNo.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                <span>15 文字以内の半角数字で入力してください。</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex="50" flex-xs="100">
            <label>電話番号（携帯）</label>
            <input name="mobilePhoneNo" ng-model="ctrl.account.mobilePhoneNo" maxlength="15" ng-maxlength="15" ng-pattern="/^\d+$/"/>
            <div ng-show="form.mobilePhoneNo.$invalid" ng-messages="form.mobilePhoneNo.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                <span>15 文字以内の半角数字で入力してください。</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex="50" flex-xs="100">
            <label>メールアドレス</label>
            <input name="email" type="email" ng-model="ctrl.account.email" maxlength="100" ng-maxlength="100"/>
            <div ng-show="form.email.$invalid" ng-messages="form.email.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                <span>100 文字以内で有効なメールアドレスを入力してください。</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" layout-align="end center">
          <md-button class="md-primary md-raised" ng-disabled="form.$invalid" ng-click="ctrl.save(ctrl.account)">登録する</md-button>
          <md-button class="md-link" ui-sref="app.main">キャンセル</md-button>
        </div>
      </form>
    </div>
  </div>
</div>
